<template>
  <div class="mesgs">

      <div class="mesgs-profile-bar">
        <p :class="{ 'hidden': !$root.mobile }"><i class="material-icons" @click="$emit('back-to-overview')">keyboard_arrow_left</i></p>
        <div :class="['mesgs-user-link', {'link': !profileDeleted}, { 'deactivatedLink': profileDeleted }]" @click="show_profile">
          <p>{{ chosenName }}</p>
          <div class="mesgs-profile-img"><ImageCanvas v-bind:convoUID="chosenuid" /></div>
        </div>
      </div>

      <div class="msg_history" ref="messagewindow">

        <div 
          v-for="message in messages" 
          :class="[
            { 'sent_msg': own_message(message.value.senderID) }, 
            { 'received_msg': !own_message(message.value.senderID) }
          ]">
          
          <img v-if="check_for_image_message(message)" src="https://getpackitup.com/images/loading-image.png" id="msgimage" style="max-height:25em;" />
          <p v-else>{{ message.value.message }}</p>
          
          <span class="time_date">{{ message.value.timestamp }}</span> 
        
        </div>
      </div>
      <div class="type-msg">
          <div class="input_msg_write">
              <textarea v-model="typedMessage" class="write_msg" placeholder="Type a message" v-on:keyup.enter="send_message"></textarea>
              <button class="msg_send_btn" type="button" @click="send_message">Send</button>
          </div>
      </div>
  </div>        
</template>

<script>
import ImageCanvas from '@/components/Small/ImageCanvas.vue'

import general from '@/assets/mixins/general.js'
import firebasefunctions from '@/assets/mixins/firebasefunctions.js'

export default {
  name: 'Chat',
  props: ['chosenuid'],
  mixins: [general, firebasefunctions],
  components: {
    ImageCanvas
  },
  data() {
  	return {
  		typedMessage: "",
      profileDeleted: true,
      ownName: "Anonymous",
      chosenName: "Profile deleted",
  	}
  },
  computed: {
    messages: function() {
      return this.$store.getters.get_messages_for_UID(this.chosenuid);
    },
  },
  mounted() {
    //console.log(this.$root.mobile);
    if (this.$refs.messagewindow != undefined) {
      this.$refs.messagewindow.scrollTop = this.$refs.messagewindow.scrollHeight;
    }

    this.get_chosen_name(this.chosenuid);
    this.get_own_name(this.$root.myUID);

    //const tryingOwnName = this.get_own_name(this.$root.myUID);
    //this.ownName = tryingOwnName ? tryingOwnName : "Anonymous";
  },
  watch: {
    'chosenid': function(newID) {
      this.$store.dispatch('reset_unread_count', newID);
    }
  },
  methods: {
    get_chosen_name: function(uid) {
      const self = this;
      this.$_downloadFirebaseData('/users/' + uid + '/displayName').then(function(response) {
        self.chosenName = response.value;
        self.profileDeleted = false;
      }).catch(function(error) {
        console.log("error getting profile " + error);
        self.chosenName = "Profile deleted";
        self.profileDeleted = true;
      });
    },
    get_own_name: function(uid) {
      const self = this;
      this.$_downloadFirebaseData('/users/' + uid + '/displayName').then(function(response) {
        self.ownName = response.value;
      }).catch(function(error) {
        console.log("error getting profile " + error);
        self.ownName = "Anonymous";
      });
    },
    check_for_image_message: function(message) {
      if (message.value.message != undefined) {
        return message.value.message.match('^gs://shining-fire-5731.appspot.com');
      } else {
        return false;
      }
    },
    own_message: function(senderID) {
      return this.$root.myUID == senderID;
    },
    send_message: function() {
      if (this.typedMessage.length > 0) {
        console.log("SENDING: message length is " + this.typedMessage.length);

        // Clear the message field
        const finalTypedMessage = this.typedMessage;
        this.typedMessage = "";

        // Get the date
        const date = new Date();
        const dateString = this.$_get_string_from_date(date.toISOString().substring(0, 10));

        const timestamp = date.toString();

        // Save it to Firebase - both users' channels
        var messageToSend1 = {
            message: finalTypedMessage,
            recipientID: this.chosenuid,
            recipientName: this.chosenName,
            senderID: this.$root.myUID,
            senderName: this.ownName,
            timestamp: dateString,
            fulltimestamp: timestamp,
            status: "read"
        };

        var messageToSend2 = {
            message: finalTypedMessage,
            recipientID: this.chosenuid,
            recipientName: this.chosenName,
            senderID: this.$root.myUID,
            senderName: this.ownName,
            timestamp: dateString,
            fulltimestamp: timestamp,
            status: "unread"
        };

        console.log(messageToSend1);

        //this.$store.dispatch('add_messages', messageToSend1); // This should automatically add it to the layout
        //$(msghistory).scrollTop(1000000000); // And scrolling to bottom of chat

        //var senderKey = firebase.database().ref().child(senderID + 'messages').push(messageToSend1);
        //var recipientKey = firebase.database().ref().child(recipientID + 'messages').push(messageToSend2);

        const senderRef = '/' + this.$root.myUID + 'messages';
        const recipientRef = '/' + this.chosenuid + 'messages';

        this.$_pushFirebaseData(senderRef, messageToSend1);
        this.$_pushFirebaseData(recipientRef, messageToSend2);

        // this.send_notification(messageToSend1);
        this.$emit('send-notification', messageToSend2);

      }
    },
    show_profile: function() {
      if (!this.profileDeleted) {
        this.$parent.showProfile = true;
      }
    }
  }
}
</script>

<style scoped lang="scss">

@media (min-width:320px)  {

  .mesgs-profile-bar {
    width:100%;
  }

  .type-msg {
    width: calc(100% - 4rem);
  }
}

@media (min-width:961px)  {
  .mesgs {
    width: calc(100% - 4em - 12px) !important;
  }
  /*.mesgs-profile-bar {
    width: 65%;
  } 

  .type-msg {
    width: calc(65% - 4rem);
  }*/
}

.mesgs {
  width: 100%; //calc(100% - 4em); it causes the message bubbles to not take up the  full width on mobile --> added adjustment to media query
  padding:0 2em;
  text-align:left;

  .mesgs-profile-bar {
    background-color: white;
    border-bottom: 1px solid #c4c4c447;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    margin-left:-2rem;

    .mesgs-user-link {
      display: flex;
      align-items: center;

      .mesgs-profile-img {
        height: 3rem;
        width: 3rem;
        margin: 14px 1rem;
        border-radius: 50%;

        background-image: url(https://getpackitup.com/images/anonymous-profile-pic.jpg);
        background-size: cover;
        background-position: center;
      }
    }
  }

  .msg_history {
    margin: 0 0 4rem 0;
    padding: 6rem 0 0rem 0;
    height: calc(100% - 11rem) !important;
    overflow-x: hidden; //prevents chat falling of to the side of the screen

    p {
      text-align: justify;
        word-break:break-all; //breaks long string to multiple lines (e.g. lot of emojis after each other, charachter overflow)
    }

    .received_msg {
      width: 60%;

      p {
        padding: 5px 10px 5px 12px;
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 0px 20px 20px 20px;
      }

      span {
        background: none;
        font-size: 12px;
        margin: 8px auto 0;
        width: 81%;
      }
    }

    .sent_msg {
      p {
        border-radius: 20px 0px 20px 20px;
        max-width: calc(100% - 22px);
      }
      span {
        background: none;
        font-size: 12px;
        margin: 8px auto 0;
        width: 81%;
        text-align: left;
      }
    }
  }

  .type-msg {
    position: absolute;
    margin-top: -3rem;
    border-radius: 4px;
    background-color:white;

    .input_msg_write {

      textarea {
        height: 26px;
        width: calc(100% - 4rem - 12px);
        border: 1px solid #c4c4c4;
        padding-top: 14px;
        //hiding scroll bars
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }
        //line-height: 32px; //vertically centers the user input in the textarea -- doesn't work properly with multiline inputs
        &::placeholder {
         // line-height: 32px; //vertically centers the placeholder in the textarea
        }
      }

      button {
        font-weight: 600;
      }
    }
  }
}

</style>
