<template>
  <div class="overview-component-container">

    <div v-if="conversations.length == 0 || conversations == undefined" class="no-messages-div">
        <h3>No messages yet</h3>
        <p>Find some trips in the map and reach out to some people to get messages here!</p>
    </div>
    
    <div v-else>
      <div v-for="(value, key) in conversations" :class="['chat_list', { 'activeConvo': chosenuid == key }]" @click="$emit('change-convo', key)">
        <div class="chat_people">
          <div class="chat_img"><ImageCanvas v-bind:convoUID="key" /></div>
          <div class="chat_ib">
            <h5>{{ get_convo_name(value.value) }} <span class="chat_date">{{ value.value.timestamp }}</span></h5>
            <p class="latest-message">{{ value.value.message }}</p>
            
            <!-- MANAGE THIS 
            <span class="unreadcount">{{ convo.value.unreadcount }}</span>-->
          
          </div>
        </div>
      </div>

    </div>

    <div class="push-banner" v-if="showPushBanner">
      <h4 class="banner-title">Turn on push notifications to see when someone texts you</h4>
      <p class="banner-text">Don't worry, we won't spam you :)</p>
      <button class="button whitebtn" @click="ask_for_notifications">Click here to turn on notifications</button>
    </div>

  </div>
</template>

<script>
import ImageCanvas from '@/components/Small/ImageCanvas.vue'

import firebasefunctions from '@/assets/mixins/firebasefunctions.js'

export default {
  name: 'Overview',
  props: ['chosenuid', 'showPushBanner'],
  mixins: [firebasefunctions],
  components: {
    ImageCanvas
  },
  data() {
  	return {
  	}
  },
  filters: {
    truncate: function (text, length) {
       return text.substring(0, length) + '...'; //truncates the messages
    }
  },
  mounted() {
    console.log("overview mounted");
    //this.get_convo_images();
  },
  computed: {
    conversations: function() {
      const allConvos = this.$store.getters.get_convos;
      console.log(allConvos);

      return allConvos;
    }
  },
  methods: {
    ask_for_notifications: function() {
      this.$emit('dismissBanner');
      this.askForPermissionToReceiveNotifications();
    },
    get_convo_name: function(convo) {
      //console.log(convo);
      const senderID = convo.senderID;
      return senderID == this.$root.myUID ? convo.recipientName : convo.senderName;
    },
    get_convo_images: function() {
      if (this.conversations != undefined) {
        for (var key in this.conversations) {
          if (this.conversations.hasOwnProperty(key)) {
            console.log(key + " -> " + this.conversations[key]);
            const convo = this.conversations[key].value;

            // Find image URL
            const uid = convo.senderID == this.$root.myUID ? convo.recipientID : convo.senderID;
            const user = this.$store.getters.find_user(uid);
            if (user != undefined) {
              console.log("user found");
              console.log(user);
              const imageURL = user.value.profileImage;

              if (imageURL != undefined && imageURL != "") {
                console.log("imageurl found");
                // Find image div
                const imageDiv = this.$refs[key];
                if (imageDiv != undefined) {
                  console.log("imagediv found");
                  this.$_loadMyImage(imageURL, imageDiv);
                }
              }
            }
          }
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">

.no-messages-div {
  padding:2rem;
}

.chat_ib {
  width:80%;

  h5 {
    font-weight:500;
    text-align:left;
  }
  p {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; //truncating the message overview
  }
}

@media (min-width:961px)  {

  .activeConvo {
    background-color: #ebebeb;
  }
}

.push-banner {
  background-color: $green;
  position: fixed;
  bottom: 0;
  color:white;
  padding: 1rem 0.5rem;

  .banner-title {
    color:white;
    padding: 0 3rem;
    font-size: 0.9em;
  }

  .banner-text {
    font-size: 0.8em;
  }

  button {
    margin-top: 0.5rem;
    width: 100%;
    font-size: 0.8em;
  }
}

</style>