<template>

	<input type="text" :placeholder="placeholder" aria-label="Search place" id="placesinput">

</template>

<script>

export default {
  name: 'AutocompletePlacesField',
  props: ['placeholder'],
  data() {
    return {
    }
  },
  mounted() {
  	const inputElement = document.getElementById("placesinput");
    this.setupAutocomplete(inputElement, this.destinationSearchFound);
  },
  methods: {
  	setupAutocomplete(element, callback) {
  		var autocomplete = new google.maps.places.Autocomplete(element, {});
    	autocomplete.setFields(['address_components', 'geometry', 'place_id', 'icon', 'name']);
    	autocomplete.addListener('place_changed', function() {
    		callback(autocomplete.getPlace())
    	});
  	},
  	destinationSearchFound: function(place) {
		if (place != undefined) {
			this.$emit('place-found', place);
    	//this.moveMap(place.geometry.location);
    } else { // User likely entered the name of a place that was not suggested and pressed Enter
        alert("Sorry! We couldn't find: '" + place.name + "'");
    }
	},
  }
}

</script>

<style scoped lang="scss">
</style>