/* Documentation: https://github.com/nathanreyes/v-calendar */
<template>
  <div class="datepicker">
    
    <!--<input class="datepickerinput" type="text" aria-label="Date" @click="showDatepicker = !showDatepicker" readonly="readonly" v-model="$parent.dateString">-->
    
    <!--<v-calendar 
      v-if="showDatepicker"
      :attributes='attrs'
      color="green"
      v-model="$parent.date"
      :min-date='minDate'
      :max-date='maxDate'
      locale="en-US"
    />-->

    <v-date-picker
      mode='single'
      v-model='$parent.date'
      :min-date='minDate'
      :max-date='maxDate'
      locale="en-US">
    </v-date-picker>
  
  </div>
</template>

<script>

export default {
  name: 'DatePicker',
  props: ['minDate', 'maxDate'], /* Needs to be format: (2008, 0, 1) */
  data() {
  	return {
      showDatepicker: false,
  	}
  },
  mounted() {
  },
  methods: {
  }
}
</script>

<style scoped lang="scss">

input {
  width:80%;
}

.vc-container {
  position: absolute;
  margin-left: 10%;
  z-index: 1;
}

</style>