<template>
  <div class="image" ref="imageDiv">
    <!--<canvas ref="imagecanvas" v-if="showCanvas"></canvas>-->
    <!--<img id="image" v-if="showImage" />-->
  </div>
</template>

<script>
import firebasefunctions from '@/assets/mixins/firebasefunctions.js'

export default {
  name: 'ImageCanvas',
  props: ['convoUID'],
  mixins: [firebasefunctions],
  data() {
  	return {
      imageURL: "",
      showCanvas: false,
      showImage: false,
      imageDiv: undefined
  	}
  },
  mounted() {
    this.$nextTick(function() {
      this.imageDiv = this.$refs.imageDiv;
      if (this.convoUID != undefined) { this.getProfileImageURL(); }
    });
  },
  methods: {
    getProfileImageURL: function() {
      if (this.convoUID != undefined) {
        const self = this;

        this.$_downloadFirebaseData('/users/' + this.convoUID + '/profileImage').then(function(response) {
          self.imageURL = response.value;

          if (self.imageURL != undefined && self.imageURL != "") {
            self.imageURL.indexOf("gs://shining-fire-5731.appspot.com") > -1 ? self.setupCanvas(self.imageURL) : self.setupImage(self.imageURL);
          }

        }).catch(function(error) {
          console.log("error getting profileimage " + error);
        });
      }
    },
    setupCanvas: function(url) {
      const self = this;

      //const canvasElement = this.$refs.imagecanvas;
      //console.log("setting up canvas " + canvasElement);

      //const imgElement = this.$refs.image;
      //console.log("setting up imagecanvas " + imgElement);

      this.$_downloadFirebasePhoto(url).then(function(imagecanvas) {
        if (imagecanvas) {
          //canvasElement.replaceWith(imagecanvas);
          
          //self.showCanvas = true;
          if (self.imageDiv != undefined) {
            imagecanvas.classList.add('canvas');
            self.imageDiv.innerHTML = "";
            self.imageDiv.appendChild(imagecanvas);
          }
        }
      });
    },
    setupImage: function(url) {
      if (this.imageDiv != undefined) {
        this.imageDiv.innerHTML = "";

        var imgElement = document.createElement('img');
        imgElement.src = url;
        imgElement.onerror = function() { this.src = 'https://packitup.io/images/anonymous-profile-pic.jpg' };

        this.imageDiv.appendChild(imgElement);
      }
    }
  }
}
</script>

<style scoped lang="scss">

.image {
  background-image: url(https://getpackitup.com/images/anonymous-profile-pic.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

</style>