<template>
  <div class="loader-background">
    <img src="https://getpackitup.com/images/AdobePhotoshop.gif" />
  </div>
</template>

<script>

export default {
  name: 'Loader',
  data() {
  	return {
  	}
  }
}
</script>

<style scoped lang="scss">

.loader-background {
  height:100vh;
  width:100vw;
  position:fixed;
  z-index:10;
  top:0;
  left:0;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.7);

  img {
    height: 8rem;
    margin-top: calc(50vh - 4rem);
  }
}

</style>