<template>

	<div class="modal-footer">
		
		<button :class="['button', 'greybtn', buttons.cancelbutton.customClass, { 'hidden': !buttons.cancelbutton.show }, ]" @click="$emit('cancel-clicked')">
			
			<i v-if="buttons.cancelbutton.arrow" class="fas fa-chevron-left"></i>
			{{ buttons.cancelbutton.title }}
		</button>
		
		<button v-show="buttons.confirmbutton.show" :class="['button', 'greenbtn', buttons.confirmbutton.customClass, { 'hidden': !buttons.confirmbutton.show }]"  @click="$emit('confirm-clicked')">
			{{ buttons.confirmbutton.title }}
			<i v-if="buttons.confirmbutton.arrow" class="fas fa-chevron-right"></i>
			
		</button>

	</div>

</template>

<script>

export default {
  name: 'ModalFooter',
  props: ['buttons'],
  data() {
    return {
    }
  }
}

</script>

<style scoped lang="scss">

</style>