<template>
	<div class="modal-header">

		<a :class="['link', { 'hidden': !content.leftbutton.show }]" @click="$emit('left-clicked')">
			<i class="fas fa-chevron-left"></i> Back
		</a>
		
		<h5 :class="['modal-title', { 'hidden': !content.title.show }]">{{ content.title.name }}</h5>

		<button :class="['close', 'link', { 'hidden': !content.rightbutton.show }]" @click="$emit('right-clicked')">
			<i class="material-icons">close</i>
		</button>

	</div>
</template>

<script>

export default {
  name: 'ModalHeader',
  props: ['content'],
  data() {
    return {
    }
  }
}

</script>

<style scoped lang="scss">

.link {
	padding:0.5rem 1rem;
}

.modal-title {
	font-size: 1.25rem;
	line-height:1.5;
	font-weight:500;
	text-align: left;
}

button {
	padding: 1rem;
	color: #000;
    opacity: .5;
}

</style>