<template>
  <div class="dropdown">

    <input type="text" v-model="chosenNationality" placeholder="Nationality" id="myInput" @keyup="filterFunction" @click="showDropdown">

    <div id="myDropdown" :class="['dropdown-content', { 'show': showNationalityDropdown }]">

      <a v-for="country in countrylist" @click="selectedCountry(country.name)">
      
        <country-flag :country='country.code' size='normal' /> {{ country.name }}

      </a>

    </div>

  </div>
</template>

<script>
import CountryFlag from 'vue-country-flag'
import countries from '@/assets/countries.js'

export default {
  name: 'NationalityPicker',
  mixins: [countries],
  props: ['existingNationality'],
  components: {
    CountryFlag
  },
  data() {
    return {
      showNationalityDropdown: false,
      chosenNationality: ""
    }
  },
  computed: {
  },
  mounted() {
    if (this.existingNationality != undefined) {
      this.chosenNationality = this.existingNationality;
    }
  },
  methods: {
    showDropdown: function() {
      console.log("showing nationality dropdown");
      this.showNationalityDropdown = true;
    },
    hideDropdown: function() {
      this.showNationalityDropdown = false;
    },
    selectedCountry(countryname) {
      this.$emit('nationality-chosen', countryname);
      this.chosenNationality = countryname;
      this.hideDropdown();
    },
    filterFunction: function() {
      var typedString = this.chosenNationality.toUpperCase();      
      var a = document.getElementById("myDropdown").getElementsByTagName("a");
      for (var i = 0; i < a.length; i++) {
        var txtValue = a[i].textContent || a[i].innerText;
        a[i].style.display = txtValue.toUpperCase().indexOf(typedString) > -1 ? "" : "none";
      }
    }
  }
}


</script>

<style scoped lang="scss">
.dropdown {
  width:100%;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  width:100%;
  max-height:15rem;
  overflow-y: scroll;
  display: none;
  position: absolute;
  border: 1px solid #ddd;
  z-index: 1;
  background-color: #f6f6f6;

  a {
    padding: 12px 16px;
    display: flex;
    height: 1rem;
    align-items: center;
    cursor:pointer;

    span {
      margin-right:0px;
    }
  }
}

.dropdown-content.show {
  display:block;
}
</style>