<template>
	<div class="profile-modal-header">
		
		<h5 :class="['profile-modal-title', { 'hidden': !content.title.show }]">{{ content.title.name }}</h5>

		<button :class="['close', 'link', { 'hidden': !content.rightbutton.show }]" @click="$emit('right-clicked')">
			<i class="material-icons profile-header-icon">×</i>
		</button>

	</div>
</template>

<script>

export default {
  name: 'ProfileModalHeader',
  props: ['content'],
  data() {
    return {
    }
  }
}

</script>

<style scoped lang="scss">
.profile-modal-header {
    height: auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem;
}


.profile-header-icon {
    font-size: 1.75rem;
    font-family: inherit;
}

.profile-modal-title {
	font-size: 1.25rem;
	line-height:1.5;
	font-weight:500;
	text-align: left;
    margin-bottom: 0;
}

button {
	// padding: 1rem;
	color: #000;
    opacity: .5;
}

</style>