<template>
  <div class="profile-modal">
    <div
      class="modal-backdrop editModal"
      @click="$parent.showProfileEditModal = false"
    ></div>
    <div class="profile-modal-content">
      <ModalHeader
        v-bind:content="headercontent"
        @left-clicked="header_left_clicked"
        @right-clicked="header_right_clicked"
      />
      <div class="modal-body edit-profile-body">
        <!-- Profile picture -->
        <div class="image-edit-fields">
          <label for="imageControlFile" class="label">New profile image</label>
          <input type="file" class="upload-img" id="imageControlFile" />
        </div>
        <!-- Name, nationality and birthday -->
        <div class="name-edit-fields">
          <p class="label">Firstname</p>
          <input
            v-model="firstname"
            type="text"
            aria-label="Firstname"
            class="name-input"
          />
          <hr />

          <p class="label">Lastname</p>
          <input
            v-model="lastname"
            type="text"
            aria-label="Lastname"
            class="name-input"
          />
          <hr />

          <p class="label">Nationality</p>
          <NationalityPicker
            v-bind:existingNationality="profile.nationality"
            @nationality-chosen="nationality_chosen"
          />
          <hr />

          <p class="label">Birthday</p>
          <DatePicker
            id="input-field-birthday"
            v-bind:minDate="new Date(1900, 0, 1)"
            v-bind:maxDate="new Date()"
          />
          <hr />
        </div>
        <!-- Description -->
        <div>
          <p class="label">Description</p>
          <textarea v-model="description" rows="10" cols="50"></textarea>
        </div>
      </div>
        <ModalFooter
          v-bind:buttons="footerbuttons"
          @confirm-clicked="footer_confirm_clicked"
          @cancel-clicked="footer_cancel_clicked"
        />
    </div>
  </div>
</template>
<script>
import NationalityPicker from "@/components/Small/NationalityPicker.vue";
import DatePicker from "@/components/Small/DatePicker.vue";
import ModalHeader from "@/components/Small/ModalHeader.vue";
import ModalFooter from "@/components/Small/ModalFooter.vue";
import general from "@/assets/mixins/general.js";
import firebasefunctions from "@/assets/mixins/firebasefunctions.js";
export default {
  name: "ProfileEditModal",
  mixins: [general, firebasefunctions],
  props: ["profile"], // This means that this.profile.firstname is our existing but this.firstname will be the newly entered one
  components: {
    NationalityPicker,
    DatePicker,
    ModalHeader,
    ModalFooter
  },
  data() {
    return {
      firstname: "",
      lastname: "",
      displayName: "",
      description: "",
      birthday: "",
      datepickerbirthday: "",
      nationality: "",
      picURL: "",
      headercontent: {
        leftbutton: { show: false },
        title: { name: "Edit Profile", show: true },
        rightbutton: { show: true }
      },
      footerbuttons: {
        cancelbutton: {
          title: "Cancel",
          show: true,
          arrow: false,
          customClass: "edit-profile-graybtn"
        },
        confirmbutton: {
          title: "Save",
          show: true,
          arrow: false,
          customClass: "edit-profile-greenbtn"
        }
      }
    };
  },
  computed: {
    date: {
      get: function() {
        if (this.profile != undefined && this.profile.birthday != undefined) {
          return this.$_get_datepicker_date(this.profile.birthday);
        } else {
          return null;
        }
      },
      set: function(newValue) {
        console.log("setting date", newValue);
      }
    }
  },
  mounted() {
    console.log(this.profile);
    if (this.profile != undefined) {
      this.setup_content();
    }
  },
  methods: {
    header_right_clicked: function() {
      this.$parent.showProfileEditModal = false;
    },
    header_left_clicked: function() {
      console.log("do nothing");
    },
    footer_cancel_clicked: function() {
      this.$parent.showProfileEditModal = false;
    },
    footer_confirm_clicked: function() {
      this.saveProfile();
    },
    setup_content: function() {
      this.firstname = this.profile.firstname;
      this.lastname = this.profile.lastname;
      this.displayname = this.profile.displayName;
      this.birthday = this.profile.birthday;
      this.nationality = this.profile.nationality;
      this.description = this.profile.description;
      this.picURL = this.profile.picURL;

      // Datepicker
      if (this.birthday != "") {
        const dateToShow = this.$_get_datepicker_date(this.birthday);
        if (dateToShow != undefined) {
          this.datepickerbirthday = dateToShow;
        }
      }
    },
    nationality_chosen: function(countryname) {
      this.nationality = countryname;
    },
    saveProfile: function() {
      const updateref = "users/" + this.$root.myUID; // The Firebase location to save the data to
      var updates = {};
      updates.firstname = this.firstname;
      updates.lastname = this.lastname;
      updates.displayName = this.firstname + " " + this.lastname;
      updates.birthday = this.birthday;
      updates.nationality = this.nationality;
      updates.description = this.description;
      const fileElement = document.getElementById("imageControlFile");
      const newpicFile = fileElement.files[0];
      const self = this;
      if (newpicFile != undefined) {
        this.$_saveImage(newpicFile)
          .then(function(response) {
            console.log(updates);
            updates.profileImage = response;
            //updateFirebaseData(updateref, imageUpdate); // This needs to be updated on it's own, since it's not done when the rest is being saved
            console.log(updates);
            this.$_updateFirebaseData(updateref, updates);
            self.$emit("reload-profile");
            self.$parent.showProfileEditModal = false;
          })
          .catch(function(error) {
            console.log("couldn't save image " + error);
          });
      } else {
        //console.log(updates);
        this.$_updateFirebaseData(updateref, updates);
        self.$emit("reload-profile");
        this.$parent.showProfileEditModal = false;
      }

      //if (!jQuery.isEmptyObject(updates)) { updateFirebaseData(updateref, updates); }
    }
  }
};
</script>
<style scoped lang="scss">
/*makes sure that the modal covers the whole screen when opened on mobile*/
@media (min-width: 320px) and (max-width: 414px) {
  .modal {
    margin-top: 0 !important;
    z-index: 9999;
  }
}
@media (min-width: 320px) {
  .profile-modal-content {
    overflow: hidden;
    max-height: none; // Global setting is 75vh. Removed it otherwise the footer-buttons are not seen.
    margin-top: 0;

    .modal-body {
      height: calc(
        100% - 6rem
      ); /* original value height: calc(75vh - 8rem) - in case it will have to be reverted, works when footer is fixed and header is position at the top of the view */
      text-align: left;
      overflow: auto;
      padding: 1rem;
    }

    .modal-footer {
      // position: fixed; /*footer wasnt showing on the mobile, fixed it to the bottom of the screen until better solution found */
      justify-content: flex-end;
    }
  }
  .profile-modal {
    overflow: auto;
  }
}

@media (min-width: 961px) {
  .profile-modal {
    .profile-modal-content {
      margin-top: 5rem;

      .modal-body {
        height: calc(75vh - 8rem);
      }
    }
  }
}

.profile-modal {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999;

  .modal-backdrop {
    z-index: 999;
    background-color: $modalbackdrop;
    opacity: 0.6;
    height: 100%;
    width: 100%;
  }

  .profile-modal-content {
    z-index: 999;
    position: absolute;
    background-color: white;
    border-radius: 0.3rem;
    border: 1px solid $modalcontentborder;

    .modal-body {
      position: relative;
    }
  }
}

.upload-img {
  margin-top: 0.5rem;
  padding-left: 1em;
  border: none;
}

.label {
  margin-bottom: 0.5rem;
}
input {
  width: calc(100% - 1rem);
}
textarea {
  width: calc(100% - 1.75rem);
}

hr {
  border-color: transparent;
  height: 1rem;
}

.edit-profile-btn {
  margin: 2rem;
}

.name-input {
  width: 100%;
}
</style>
