<template>
  <div class="changepassword">
    <div class="field-wrapper">
      <p class="message">
        <i
          >If you have signed in with email, you can change your password below.
          If you have created an account using Google or Facebook, please change
          your password with them directly.</i
        >
      </p>

      <br />

      <label v-if="label.show" :class="[label.extraClass]">{{
        label.text
      }}</label>

      <p class="label">Old Password</p>
      <input
        v-model="oldPassword"
        type="password"
        aria-label="Old Password"
        class="form-control"
      />

      <p class="label">New Password</p>
      <input
        v-model="newPassword"
        type="password"
        aria-label="New Password"
        class="form-control"
      />

      <p class="label">Repeat New Password</p>
      <input
        v-model="newPasswordRepeated"
        type="password"
        aria-label="Repeat New Password"
        class="form-control repeat-password-input"
      />
    </div>

    <ModalFooter
      v-bind:buttons="footerbuttons"
      @confirm-clicked="footer_confirm_clicked"
      @cancel-clicked="footer_cancel_clicked"
    />
  </div>
</template>

<script>
import ModalFooter from "@/components/Small/ModalFooter.vue";
import firebasefunctions from "@/assets/mixins/firebasefunctions.js";

export default {
  name: "ProfileSettingsChangePassword",
  components: {
    ModalFooter
  },
  mixins: [firebasefunctions],
  data() {
    return {
      oldPassword: "",
      newPassword: "",
      newPasswordRepeated: "",

      label: { show: false, extraClass: "", text: "" },

      errorMessages: {
        wrongPassword: "Sorry, that's the wrong password.",
        matchPasswords: "Please make sure your passwords match.",
        error:
          "Sorry, we couldn't change your password. Please try again later."
      },
      successMessages: {
        changed: "Your password has been changed!"
      },

      footerbuttons: {
        cancelbutton: {
          title: "Back",
          show: true,
          customClass: "settings-graybtn"
        },
        confirmbutton: {
          title: "Save",
          show: true,
          customClass: "settings-greenbtn"
        }
      }
    };
  },
  methods: {
    footer_confirm_clicked: function() {
      if (
        this.oldPassword.length > 0 &&
        this.newPassword.length > 0 &&
        this.newPasswordRepeated.length > 0
      ) {
        if (this.newPassword != this.newPasswordRepeated) {
          this.label = {
            show: true,
            class: "warning",
            text: this.errorMessages.matchPasswords
          };
        } else {
          // Send email
          console.log("Send email");
          this.$_changePassword(this.oldPassword, this.newPassword)
            .then(function(response) {
              this.label = {
                show: true,
                class: "greentext",
                text: this.successMessages.changed
              };
            })
            .catch(function(error) {
              console.log("error changing password " + error);
            });
        }
      } else {
        this.label = {
          show: true,
          class: "warning",
          text: this.errorMessages.error
        };
      }
    },
    footer_cancel_clicked: function() {
      // Go back
      console.log("Go back");
      this.$parent.showChangePassword = false;
    },
    save_password: function() {
      if ($(settingsChangePasswordInput0).val().length == 0) {
        $(settingsChangePasswordWarning0).css("display", "block");
      } else {
        // Old password has been entered
        var oldpassword = $(settingsChangePasswordInput0).val();
        var email = profilelist[myUID]["email"];

        if ($(settingsChangePasswordInput1).val()) {
          var newpassword = $(settingsChangePasswordInput1).val();
          var repeatnewpassword = $(settingsChangePasswordInput2).val();

          if (newpassword == repeatnewpassword) {
            var user = firebase.auth().currentUser;
            var credential = firebase.auth.EmailAuthProvider.credential(
              email,
              oldpassword
            );
            user
              .reauthenticateWithCredential(credential)
              .then(function() {
                // User re-authenticated.

                user.updatePassword(newpassword).then(
                  () => {
                    // Update successful.
                    $(settingsChangePasswordWarning0).hide();
                    $(settingsChangePasswordWarning1).hide();
                    $(settingsChangePasswordWarning2).hide();
                    $(settingsChangePasswordSuccess).show();

                    // Go back to settingslist
                    $(settingsChangePasswordDiv)
                      .delay(1000)
                      .fadeOut("slow", function() {
                        $(settingsList).show(
                          "slide",
                          { direction: "right" },
                          "slow"
                        );
                        $(settingsModal)
                          .find(".modal-footer")
                          .hide();
                      });
                  },
                  error => {
                    // An error happened.
                    $(settingsChangePasswordWarning0).hide();
                    $(settingsChangePasswordWarning1).hide();

                    $(settingsChangePasswordWarning2).text(error.message);
                    $(settingsChangePasswordWarning2).show();
                  }
                );
              })
              .catch(function(error) {
                // An error happened.
                console.log("there was an error signin in " + error.message);
                alert("Sorry! An error occured while changing your password.");
              });

            /*firebase.auth().signInWithEmailAndPassword(email, oldpassword).then(function(user){

                    var currentUser = firebase.auth().currentUser;
                    currentUser.updatePassword(newpassword).then(() => {
                        // Update successful.
                        $(settingsChangePasswordWarning1).hide();
                        $(settingsChangePasswordWarning2).hide();
                        $(settingsChangePasswordSuccess).show();

                        // Go back to settingslist
                        $(settingsChangePasswordDiv).delay(1000).fadeOut("slow", function() {
                            $(settingsList).show('slide', {direction: 'right'}, "slow");
                            $(settingsSaveBtn).hide();
                        });

                    }, (error) => {
                        // An error happened.
                        console.log("error " + error.message);
                        $(settingsChangePasswordWarning1).hide();
                        $(settingsChangePasswordWarning2).show();
                    });
                    
                }).catch(function(error) {
                    console.log('there was an error signin in ' + error.message);
                    
                    alert("Sorry! An error occured while changing your password.");
                });*/
          } else {
            $(settingsChangePasswordWarning0).hide();
            $(settingsChangePasswordWarning2).hide();
            $(settingsChangePasswordWarning1).show();
          }
        } else {
          $(settingsChangePasswordWarning0).hide();
          $(settingsChangePasswordWarning2).hide();
          $(settingsChangePasswordWarning1).show();
        }
      }

      $(settingsChangePasswordInput0).val("");
      $(settingsChangePasswordInput1).val("");
      $(settingsChangePasswordInput2).val("");
    }
  }
};
</script>

<style scoped lang="scss">
.changepassword {
  input {
    width: 100%;
  }

  .label {
    text-align: left;
    margin: 1rem auto 0 auto;
  }

  .repeat-password-input {
    margin-bottom: 2rem;
  }

  .field-wrapper {
    padding: 1rem 1rem 0 1rem;
  }

  @media (min-width: 320px) {
    .modal-footer {
      position: fixed; //Set to fixed, because otherwise looks weird on the different mobile versions. This way, it looks the same on all mobiles.
    }
  }
}
</style>
