<template>
  <div class="profile-modal">
    <div
      class="modal-backdrop settingsModal"
      @click="$parent.showProfileSettingsModal = false"
    ></div>
    <div class="profile-modal-content">
      <ProfileModalHeader
        v-bind:content="headercontent"
        @left-clicked="header_left_clicked"
        @right-clicked="header_right_clicked"
      />
      <div class="modal-body">
        <ProfileSettingsMain
          @redirect-setting="redirect_setting"
          v-if="!showChangePassword"
        />
        <!--<ProfileSettingsMain v-show="!showChangePassword" @redirect-setting="redirect_setting" />-->
        <ProfileSettingsChangePassword v-if="showChangePassword" />
      </div>
    </div>
  </div>
</template>
<script>
import ProfileSettingsMain from "@/components/Modals/ProfileComponents/ProfileSettingsMain.vue";
import ProfileSettingsChangePassword from "@/components/Modals/ProfileComponents/ProfileSettingsChangePassword.vue";
import ProfileModalHeader from "@/components/Small/ProfileModalHeader.vue";
import ModalFooter from "@/components/Small/ModalFooter.vue";
import firebasefunctions from "@/assets/mixins/firebasefunctions.js";
export default {
  name: "ProfileSettingsModal",
  mixins: [firebasefunctions],
  components: {
    ProfileSettingsMain,
    ProfileSettingsChangePassword,
    ProfileModalHeader,
    ModalFooter
  },
  data() {
    return {
      showChangePassword: false,
      headercontent: {
        leftbutton: { show: false },
        title: { name: "Settings", show: true },
        rightbutton: { show: true }
      }
    };
  },
  methods: {
    redirect_setting: function(setting) {
      switch (setting) {
        case "Change password":
          this.headercontent.leftbutton.show = true;
          this.showChangePassword = true;
          break;
        case "Contact PackitUp":
          window.open("https://packitup.io/contact", "_blank");
          break;
        case "Privacy Policy":
          window.open("https://packitup.io/privacy", "_blank");
          break;
        case "Terms of Service":
          window.open("https://packitup.io/terms", "_blank");
          break;
        case "Delete my user":
          this.deleteUser();
          break;
        case "Log out":
          this.logOut();
          break;
      }
    },
    deleteUser: function() {
      console.log("Deleting user");
      this.$_deleteUser();
    },
    logOut: function() {
      console.log("Log out");
      this.$_signOut();
    },
    header_left_clicked: function() {
      this.headercontent.leftbutton.show = false;
      this.showChangePassword = false;
    },
    header_right_clicked: function() {
      this.$parent.showProfileSettingsModal = false;
    }
  }
};
</script>

<style scoped lang="scss">
.profile-modal {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999;
  

  .modal-backdrop {
    z-index: 999;
    background-color: $modalbackdrop;
    opacity: 0.6;
    height: 100%;
    width: 100%;
  }

  .profile-modal-content {
    z-index: 999;
    position: absolute;
    background-color: white;
    border-radius: 0.3rem;
    width: 100%;
    border: none;

    .modal-body {
      position: relative;
      // padding: 1rem;
    }
  }
}

@media (min-width: 320px) {
  .profile-modal-content {
    overflow: hidden;
    max-height: none; // Global setting is 75vh. Removed it otherwise the footer-buttons are not seen.
    margin-top: 0;
    height: 100%;

    .modal-body {
      height: calc(
        100% - 6rem
      ); /* original value height: calc(75vh - 8rem) - in case it will have to be reverted, works when footer is fixed and header is position at the top of the view */
      text-align: left;
      overflow: auto;
      // margin-top: 25%;
    }
  }
  .profile-modal {
    overflow: auto;
  }
}

@media (min-width: 961px) {
  .profile-modal {
    .profile-modal-content {
      width: 45vw;
      max-width: 500px;
      height: initial;
      margin-top: 5rem;
      border: 1px solid $modalcontentborder;
    }
  }
}
</style>
