<template>
  <div class="settingslist-wrapper">
    <div class="settingslist">
      <a
        v-for="setting in settings"
        v-bind:key="setting.name"
        @click="$emit('redirect-setting', setting.name)"
      >
        <span class="settings-name">{{ setting.name }} </span>
        <span
          v-if="setting.name !== 'Delete my user' && setting.name !== 'Log out'"
          >></span
        >
        <!-- <span v-else>></span> -->
      </a>
    </div>
  </div>
</template>
<script>
export default {
  name: "ProfileSettingsMain",
  data() {
  	return {
  		settings: [
  			{ name: "Change password" },
  			{ name: "Contact PackitUp" },
  			{ name: "Privacy Policy" },
  			{ name: "Terms of Service" },
  			{ name: "Delete my user" },
  			{ name: "Log out" }
  		]
    }
  }
};
</script>
<style scoped lang="scss">
@media (min-width: 320px) {
  a {
    min-width: 0;
  }
}

@media (min-width: 961px) {
  a {
    min-width: 20rem;
  }
}

.settingslist {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}
a {
  text-decoration: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  color: $textcolor;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  &:hover {
    background-color: #f8f9fa;
  }
}

.settings-name {
  font-size: 0.9rem;
}

.settingslist-wrapper {
  padding: 1rem;
}
</style>
