<template>
  <div class="modal">
	  <div class="modal-backdrop"></div>
		<div class="modal-content">
			
      <div class="intro-modal-background">
        <div class="intro-screen" v-if="showIntro">
          <img class="logo" src="img/LogoCommunity.png" />
  				<div class="button whitebtn" @click="show_login"><p>Let's go!</p></div>
        </div>

        <div class="login-screen" v-else>
          <div class="logo-container">
            <img class="logo" src="img/LogoCommunity.png" />
          </div>
          <div class="mobile-logo-container">
            <img class="logo" src="img/LogoCommunity.png" />
          </div>
          <div class="login-container" v-if="!showForgotPassword">
            <p class="login-title">Log in and start traveling!</p>

            <div class="login-input">
              <label>Email Address</label>
              <input type="email" v-model="email" placeholder="name@company.com">

              <label>Password</label>
              <input type="password" v-model="password" placeholder="Password" v-on:keyup.enter="login">
            </div>

            <p class="smalltext link" @click="redirect_forgot_password">Forgot password?</p>

            <p :class="['warning', { 'hide': !showWarning }]">{{ warningMessage }}</p>

            <div class="button greenbtn" @click="login"><p class="link">Log In</p></div>

          </div>

          <div class="forgotpassword-container" v-else>

            <p class="forgotpassword-title link">Forgot password</p>

            <input type="email" v-model="forgotpasswordemail" placeholder="name@company.com">

            <div class="submit-btns">
              <div class="button whitebtn" @click="showForgotPassword = false"><p class="link">Back</p></div>
              <div class="button greenbtn" @click="forgotpassword"><p class="link">Submit</p></div>
            </div>

          </div>

          <div class="footer">
            <p class="left-footer smalltext">By logging in you agree to our <a class="login-link" href="https://packitup.io/privacy/" target="blank">privacy policy</a> and <a class="login-link" href="https://packitup.io/terms/" target="blank">terms of service</a>.</p>
            <div class="right-footer">
              <p class="smalltext"><a class="login-link" href="https://packitup.io/contact/" target="blank">Contact</a></p>
              <p class="smalltext"><a class="login-link" href="https://packitup.io/about/" target="blank">About</a></p>
            </div>
          </div>

        </div>
      </div>

		</div>
	</div>
</template>

<script>
import firebasefunctions from "@/assets/mixins/firebasefunctions.js"

export default {
  name: 'IntroModal',
  mixins: [firebasefunctions],
  data() {
    return {
      email: "",
      password: "",

      showIntro: true,
      showWarning: false,
      warningMessage: "",

      showForgotPassword: false,
      forgotpasswordemail: ""
    }
  },
  methods: {
    show_login: function() {
      this.showIntro = false;    
    },
    login: function() {
      console.log("login clicked");
      if (this.check_for_warning()) {
        this.showWarning = true;
      } else {
        this.showWarning = false;
        const self = this;
        self.$_sign_in_with_email(this.email, this.password).then(function(response) { // THIS NEEDS A RELOAD BEFORE THE UID IS SAVED - LOOK INTO THAT
          if (response != undefined) {
            self.$root.myUID = response.uid;
            self.$root.authenticated = true;
            self.$emit('dismiss');
          } else {
            console.log("couldn't save profile - response from Firebase was undefined");
          }
        }).catch(function(error) {
          console.log(error);
          //self.warningMessage = error;
          //self.showWarning = true;
        });
      }
    },
    check_for_warning: function() {

      if (this.email.length == 0) {
        this.warningMessage = "Please enter your email.";
        return true;
      } else if (this.password.length == 0) {
        this.warningMessage = "Please enter your password.";
        return true;
      } else {
        this.warningMessage = "";
        return false;
      }
    },
    redirect_forgot_password: function() {
      this.showForgotPassword = true;
      this.showWarning = false;
    },
    forgotpassword: function() {
    }
  }
}


</script>

<style scoped lang="scss">
@import '@/assets/css/_mixins';
$green-color: #00AE75;

.modal-backdrop {
  z-index: unset;
}

.modal {
  z-index:9;
  height: 100vh;
  margin-top:0;
}

.modal-content {
  height:100%;
  width:100%;
  max-height:100vh;
  width:100vw;
  min-width:100vw;
  max-width:100vw;
  position:absolute;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;

  .intro-modal-background {
    text-align:center;
    width:100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-image: url('/img/intro-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    @include md {
      justify-content: center;
    }
  }

  .intro-screen {
    height:100%;

    @include md {
      height: auto;
    }

    .logo {
      max-height:15rem;
      align-self:center;
    }

    .button {
      height:auto;
      margin: 2rem auto;

      position: absolute;
      bottom:0;
      width: calc(90% - 1.5rem);
      left:5%;
      padding: 1.5rem .75rem;
      font-size:1.3em;

      @include md {
        position: relative;
        width:30%;
        left: 0%;
        padding: .5rem .75rem;
        font-size:1em;
      }
    }
  }

  .login-screen {
    width: calc(100% - 20px);
    margin: 10px;

    @include md {
      width:50%;
      margin: 0 auto;
    }

    .logo-container {
      text-align:center;
      background-color: #8ea1af;

      display:none;
      border-radius:12px;

      @include md {
        display:block;
        border-radius:12px 12px 0 0;
      }

      .logo {
        max-height:10rem;
      }
    }

    .mobile-logo-container {
      display: block;

      position:absolute;
      top: 0;
      width: calc(100% - 20px);
      padding-top: 2rem;

      @include md {
        display:none;
      }

      .logo {
        max-height:10rem;
      }

      p {
        font-size: 0.7em;
      }
    }

    .login-container {
      background-color: white;
      border-radius: 12px 12px 0 0;

      padding-top: 2rem;

      @include md {
        padding-top: 0;
        border-radius: 0;
      }

      .login-title {
        padding: 1rem;
        color:gray;

        display:none;

        @include md {
          display:block;
        }
      }

      .login-input {
        text-align:left;
        display:flex;
        flex-direction:column;
        width:80%;
        margin: 0 auto;

        @include md {
          width: 60%;
          margin: .5rem auto;
        }

        label {
          padding-top:1rem;
          padding-bottom: 0.5rem;

          display:none;

          @include md {
            display: block;
          }
        }

        input {
          width: calc(100% - 1em);

          margin-bottom: .5rem;

          @include md {
            margin-bottom: 0;
          }
        }
      }

      .button {
        margin:2rem auto 0 auto;
        height:auto;
        font-weight: normal;
        padding: .75rem;

        width: 80%;
        font-size: 1.3rem;
        padding: 1rem .75rem;
        font-weight:bold;

        @include md {
          width: 60%;
          font-size: 1rem;
          padding: .5rem .75rem;
          font-weight:normal;
        }
      }
    }

    .forgotpassword-container {
      background-color:white;
      border-radius: 12px 12px 0 0;

      @include md {
        border-radius: 0;
      }

      .forgotpassword-title {
        padding:1rem;
        color:gray;
      }

      input {
        width:80%;
      }

      .submit-btns {
        display:flex;

        .button {
          height:auto;
          padding:1rem 0;
          margin:1rem;
          width:40%;
        }

        .whitebtn {
          margin-left:9%;
          border: 1px solid #d6d1d1;
        }

        .greenbtn {
          margin-left:0%;
        }
      }

    }

    .footer {
      display:flex;
      justify-content: center;
      padding-top: 1rem;
      background:white;
      border-radius: 0 0 12px 12px;

      @include md {
        justify-content: space-between;
        padding-top:2rem;
      }

      .left-footer {
        margin: .5rem;
      }

      .right-footer {
        display: none;

        @include md {
          display:flex;
        }

        p {
          margin: .5rem;
        }
      }
    }
  }

  .login-link {
    text-decoration: none;
  }

/* OLD LAYOUT
  .intro-screen-top {
    text-align:center;
    width:100%;
    padding-bottom:2rem;

    h2 {
      padding:8rem 2rem 0 2rem;
    }

    h3 {
      padding: 1rem 2rem;
      font-size: 18px;
      font-weight:500;
    }
  }

  .intro-screen-bottom {
    flex-grow: 1;
    background-image: url(/img/intro-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top:5rem;

    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .button {
      width: 10rem;
      margin: .5rem;
      border-radius: 8px;
      overflow: hidden;
      cursor:pointer;

      p {
        padding: 1rem 0;
      }
    }

    .white-button {
      background-color: white;
      color: $green-color;
    }

    .green-button {
      background-color: $green-color;
      color: white;
    }
  }
*/
}

</style>