<template>
  <div class="modal">
    <div
      class="modal-backdrop tripModal"
      @click="$root.showNewTripModal = false"
    ></div>
    <div class="modal-content">
      <ModalHeader
        v-bind:content="headercontent"
        @left-clicked="header_left_clicked"
        @right-clicked="dismiss_modal"
      />

      <div class="modal-body">
        <NewTrip0
          v-if="screenToShow == 0"
          @destination-chosen="destination_chosen"
          @go-to-next-screen="screenToShow++"
        />

        <NewTrip1
          v-if="screenToShow == 1"
          @departure-chosen="departure_chosen"
          @go-to-next-screen="screenToShow++"
          @go-back="screenToShow--"
        />

        <NewTrip2
          v-if="screenToShow == 2"
          @date-chosen="date_chosen"
          @go-to-next-screen="screenToShow++"
          @go-back="screenToShow--"
        />

        <NewTrip3
          v-if="screenToShow == 3"
          @dismiss="dismiss_modal"
          @save-trip="save_trip"
          @go-back="screenToShow--"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ModalHeader from "@/components/Small/ModalHeader.vue";
import NewTrip0 from "@/components/Modals/NewTripComponents/NewTrip0.vue";
import NewTrip1 from "@/components/Modals/NewTripComponents/NewTrip1.vue";
import NewTrip2 from "@/components/Modals/NewTripComponents/NewTrip2.vue";
import NewTrip3 from "@/components/Modals/NewTripComponents/NewTrip3.vue";

import firebasefunctions from "@/assets/mixins/firebasefunctions.js";

export default {
  name: "NewTripModal",
  mixins: [firebasefunctions],
  components: {
    ModalHeader,
    NewTrip0,
    NewTrip1,
    NewTrip2,
    NewTrip3
  },
  data() {
    return {
      destinationName: "",
      destinationLat: 0,
      destinationLng: 0,
      destinationID: 0,

      departureName: "",
      departureLat: 0,
      departureLng: 0,

      chosenDate: "",

      screenToShow: 0,
      headercontent: {
        leftbutton: { show: false },
        title: { name: "", show: false },
        rightbutton: { show: true }
      }
    };
  },
  methods: {
    destination_chosen: function(place) {
      if (place != undefined) {
        console.log(place);
        this.destinationName = place.name;
        this.destinationLat = place.geometry.location.lat();
        this.destinationLng = place.geometry.location.lng();
        this.destinationID = place.place_id;

        console.log(this.destinationID);
      } else {
        alert("There was an error finding this place. Please try again.");
      }
    },
    departure_chosen: function(place) {
      if (place != undefined) {
        console.log(place);
        this.departureName = place.name;
        this.departureLat = place.geometry.location.lat();
        this.departureLng = place.geometry.location.lng();
      } else {
        alert("There was an error finding this place. Please try again.");
      }
    },
    date_chosen: function(date) {
      console.log("date chosen ");
      console.log(date);

      this.chosenDate = date;
    },
    save_trip: function(description) {
      const tripObj = {
        description: description,
        from: this.departureName,
        fromLat: this.departureLat,
        fromLng: this.departureLng,
        to: this.destinationName,
        toLat: this.destinationLat,
        toLng: this.destinationLng,
        sender: this.$root.myUID,
        thedate: this.chosenDate,
        toID: this.destinationID
      };

      console.log("saving trip");
      console.log(tripObj);

      const ref = "/routes/";
      this.$_pushFirebaseData(ref, tripObj);
    },
    dismiss_modal: function() {
      console.log("dismiss modal");
      this.$root.showNewTripModal = false;
      this.$root.showNewTripModalKey++;
    },
    header_left_clicked: function() {
      console.log("do nothing here");
    }
  }
};
</script>

<style scoped lang="scss">
@media (min-width: 320px) {
  .modal {
    z-index: 9999;

    .modal-content {

      .modal-body {
        padding: 0 3rem 6rem 3rem;
      }
    }
  }
}

@media (min-width: 961px) {
  .modal {
    margin-top: 4rem;

    .modal-content {
      width: 40vw;
      max-width: 500px;
      height: auto;
      margin-top: 2rem;

      .modal-body {
        padding: 0 3rem 1rem 3rem;
      }
    }
  }
}
</style>
