<template>
	<div class="modal">
		<div class="modal-backdrop" @click="$parent.showNotSignedInModal = false"></div>
		<div class="modal-content">
			<div class="modal-header">
			    <button class="close link" @click="$root.showLoginModal = false">
			      <i class="material-icons">close</i>
			    </button>
			</div>
			<div class="modal-body">
				<h3>Cool trip, right?</h3>
		        <br>
		        <p>Please log in or sign up in order to get in touch with the traveller.</p>
		        <p>Thank you!</p>
			</div>
		</div>
	</div>
</template>

<script>

export default {
  name: 'NotSignedInModal',
  data() {
    return {
    }
  },
  methods: {

  }
}


</script>

<style scoped lang="scss">

.modal-body {
	padding-bottom:2em;
	text-align:center;
}

</style>
