<template>
			    
  <div class="createUserDiv">
      
    <label :class="['warningText', { 'hide': !showFirstnameWarning }]">Please input your firstname.</label>
    <input type="text" v-model="chosenFirstname" placeholder="Firstname">
    
    <label :class="['warningText', { 'hide': !showLastnameWarning }]">Please input your lastname.</label>
    <input type="text" v-model="chosenLastname" placeholder="Lastname">
    
    <label :class="['warningText', { 'hide': !showEmailWarning }]">Please input your email.</label>
    <input type="email" v-model="chosenEmail" placeholder="Email">
    </br>

    <div class="dropdown">
      <input type="text" v-model="chosenNationality" placeholder="Nationality" id="myInput" @keyup="filterFunction" @click="showDropdown">
      <div id="myDropdown" :class="['dropdown-content', { 'show': showNationalityDropdown }]">
        <a v-for="country in countrylist" @click="selectedCountry(country.name)"><country-flag :country='country.code' size='normal' /> {{ country.name }}</a>
      </div>
    </div>

    <select class="gender-input">
        <option>Please choose your gender</option>
        <option>Female</option>
        <option>Male</option>
        <option>Other</option>
    </select>
    
    <!--<input type="text" placeholder="Birthday" readonly="true">-->
    <DatePicker v-bind:minDate="new Date(1900, 0, 1)" v-bind:maxDate="new Date()" />
    
    <label :class="['warningText', { 'hide': !showPasswordWarning1 }]">Please input a password.</label>
    <input type="password" v-model="chosenPassword" placeholder="Password">
    
    <label :class="['warningText', { 'hide': !showPasswordWarning2 }]">Please repeat the password.</label>
    <label :class="['warningText', { 'hide': !showPasswordWarning3 }]">The passwords don't match. Please try again.</label>
    <input type="password" v-model="chosenPasswordRepeated" placeholder="Repeat password">
    
    <ModalFooter 
      v-bind:buttons="footerbuttons" 
      @confirm-clicked="footer_confirm_clicked" 
      @cancel-clicked="footer_cancel_clicked" 
    />

  </div>

</template>

<script>
import CountryFlag from 'vue-country-flag'
import countries from '@/assets/countries.js'
import general from '@/assets/mixins/general.js'
import firebasefunctions from '@/assets/mixins/firebasefunctions.js'

import DatePicker from '@/components/Small/DatePicker.vue'

import ModalFooter from '@/components/Small/ModalFooter.vue'

export default {
  name: 'CreateUser',
  mixins: [countries, general, firebasefunctions],
  components: {
    CountryFlag,
    DatePicker,
    ModalFooter
  },
  data() {
    return {
      showFirstnameWarning: false,
      showLastnameWarning: false,
      showEmailWarning: false,
      showPasswordWarning1: false,
      showPasswordWarning2: false,
      showPasswordWarning3: false,

      chosenFirstname: "",
      chosenLastname: "",
      chosenEmail: "",
      chosenNationality: "",
      chosenGender: "",
      date: new Date(2000, 0, 1),
      chosenBirthday: "",
      chosenPassword: "",
      chosenPasswordRepeated: "",

      showNationalityDropdown: false,

      footerbuttons: {
        cancelbutton: { title: "Back", show: true },
        confirmbutton: { title: "Sign up", show: true }
      }
    }
  },
  computed: {
  },
  mounted() {
  },
  methods: {
    footer_cancel_clicked: function() {
      this.$emit('show-component', 'MainLogin');
    },
    footer_confirm_clicked: function() {
      console.log("Save user");

      this.showFirstnameWarning = this.chosenFirstname.length == 0;
      this.showLastnameWarning = this.chosenLastname.length == 0;
      this.showEmailWarning = this.chosenEmail.length == 0;
      this.showPasswordWarning1 = this.chosenPassword.length == 0;
      this.showPasswordWarning2 = this.chosenPasswordRepeated.length == 0;
      console.log(this.chosenPassword + " and " + this.chosenPasswordRepeated);
      this.showPasswordWarning3 = this.chosenPassword.localeCompare(this.chosenPasswordRepeated) != 0;

      if (!this.showFirstnameWarning && !this.showLastnameWarning && !this.showEmailWarning && !this.showPasswordWarning1 && !this.showPasswordWarning2 && !this.showPasswordWarning3) {

        const datetosave = this.$_get_string_from_long_date(this.date);
        const gendertosave = this.chosenGender == "Please choose your gender" ? "" : this.chosenGender;

        const createdUser = {
          "email": this.chosenEmail,
          "displayName": this.chosenFirstname + " " + this.chosenLastname,
          "firstname": this.chosenFirstname,
          "lastname": this.chosenLastname,
          "birthday": datetosave,
          "gender": gendertosave,
          "nationality": this.chosenNationality,
          "provider": "email",
          "profileImage": "",
        }

        console.log(createdUser);
        this.$_createUser(createdUser, this.chosenPassword);
      }

    },
    showDropdown: function() {
      this.showNationalityDropdown = true;
    },
    hideDropdown: function() {
      this.showNationalityDropdown = false;
    },
    selectedCountry(countryname) {
      this.chosenNationality = countryname;
      this.hideDropdown();
    },
    filterFunction: function() {
      var typedString = this.chosenNationality.toUpperCase();      
      var a = document.getElementById("myDropdown").getElementsByTagName("a");
      console.log("list length: " + a.length);
      for (var i = 0; i < a.length; i++) {
        var txtValue = a[i].textContent || a[i].innerText;
        a[i].style.display = txtValue.toUpperCase().indexOf(typedString) > -1 ? "" : "none";
      }
    }
  }
}


</script>

<style scoped lang="scss">

.createUserDiv {
  text-align:left;

  input {
    width: calc(100% - 1rem);
    margin: 0.5rem 0;
  }

  .dropdown {
    width:100%;
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    width:100%;
    display: none;
    position: absolute;
    border: 1px solid #ddd;
    z-index: 1;
    background-color: #f6f6f6;

    a {
      padding: 12px 16px;
      display: flex;
      height: 1rem;
      align-items: center;
      cursor:pointer;

      span {
        margin-right:0px;
      }
    }
  }

  .gender-input {
    width:100%;
    margin: 0.5rem 0;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    padding: .475rem .75rem;
    color: #495057;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    font-size:14px;
  }

  .show {
    display:block;
  }

  .hide {
    display:none;
  }
}



/* Dropdown Content (Hidden by Default) 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}*/


/* Change color of dropdown links on hover 
.dropdown-content a:hover {background-color: #f1f1f1}*/

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

</style>
