<template>

    <div class="emailsignindiv">
      <label :class="['warning', { 'hide': !showEmailWarning }]">Please input your email.</label>
      <input type="email" v-model="email" placeholder="Email">
      
      <label :class="['warning', { 'hide': !showPasswordWarning }]">Please input your password.</label>
      <input type="password" v-model="password" placeholder="Password" v-on:keyup.enter="footer_confirm_clicked">
      
      <label @click="redirectForgotPassword" class="forgotpassword">Forgot your password?</label>

      <ModalFooter 
        v-bind:buttons="footerbuttons" 
        @confirm-clicked="footer_confirm_clicked" 
        @cancel-clicked="footer_cancel_clicked" 
      />
    </div>
			    
</template>

<script>
import firebasefunctions from "@/assets/mixins/firebasefunctions.js"
import ModalFooter from '@/components/Small/ModalFooter.vue'

export default {
  name: 'EmailSignIn',
  mixins: [firebasefunctions],
  components: {
    ModalFooter
  },
  data() {
    return {
      email: "",
      password: "",

      showEmailWarning: false,
      showPasswordWarning: false,

      footerbuttons: {
        cancelbutton: { title: "Back", show: true },
        confirmbutton: { title: "Sign in", show: true }
      }
    }
  },
  mounted() {
  },
  methods: {
    footer_cancel_clicked: function() {
      this.$emit('show-component', 'MainLogin');
    },
    footer_confirm_clicked: function() {
      this.showEmailWarning = this.email.length > 0 ? false : true;
      this.showPasswordWarning = this.password.length > 0 ? false : true;
      const self = this;

      if (!this.showEmailWarning && !this.showPasswordWarning) {
        
        self.$_sign_in_with_email(this.email, this.password).then(function(response) {
          if (response != undefined) {
            self.$root.myUID = response.uid;
            self.$root.authenticated = true;
            self.$emit('dismiss');
          }
        }).catch(function(error) {
          console.log(error);
          alert("Sorry! An error occured. Please try again later.");
        });

      }
    },
    redirectForgotPassword: function() {
      this.$emit('show-component', 'ForgotPassword');
    }
  }
}


</script>

<style scoped lang="scss">

.emailsignindiv {
  padding-bottom:3rem; 
  
  input {
    width:100%;
    margin-top:1rem;
  }

  .forgotpassword {
    font-size: 10px;
    color: #868e96;
    cursor: pointer;
  }
}

</style>
