<template>

    <div class="forgotpassword">

      <label v-if="label.show" :class="[ label.extraClass ]">{{ label.text }}</label>
      <input v-model="email" type="email" aria-describedby="email-field" placeholder="Email">

      <ModalFooter 
        v-bind:buttons="footerbuttons" 
        @confirm-clicked="footer_confirm_clicked" 
        @cancel-clicked="footer_cancel_clicked" 
      />

    </div>
			    
</template>

<script>
import ModalFooter from '@/components/Small/ModalFooter.vue'

export default {
  name: 'ForgotPassword',
  components: {
    ModalFooter
  },
  data() {
    return {
      email: "",
      label: { show: false, extraClass: "", text: "" },

      errorMessages: {
        inputEmail: "Please input your email",
        error: "Sorry! An error ocurred. Please try again later."
      },
      successMessages: {
        sent: "Email sent. Please check your inbox."
      },

      footerbuttons: {
        cancelbutton: { title: "Back", show: true },
        confirmbutton: { title: "Reset", show: true }
      }
    }
  },
  mounted() {
  },
  methods: {
    footer_confirm_clicked: function() {
      if (this.email.length > 0) {

        // Send email
        console.log("Send email");
        this.label = { show: true, class: 'greentext', text: this.successMessages.sent };

      } else {
        this.label = { show: true, class: 'warning', text: this.errorMessages.inputEmail };
      }
      
    },
    footer_cancel_clicked: function() {
      console.log("Go back");
      this.$emit('show-component', 'EmailSignIn');
    }
  }
}


</script>

<style scoped lang="scss">

.forgotpassword {
  padding-bottom:3rem;

  input {
    width:100%;
  }
}

</style>
