<template>
  <div class="modal">
  	<div class="modal-backdrop" @click="$root.showLoginModal = false"></div>
  	<div class="modal-content">

      <ModalHeader 
        v-bind:content="headercontent"
        @left-clicked="header_left_clicked"
        @right-clicked="dismiss_modal"
      />

			<!--<div class="modal-header">
				<a :class="['link', { 'hidden': !showBackBtn }]"><i class="fas fa-chevron-left"></i> Back</a>
			    <button class="close link" @click="$root.showLoginModal = false">
			      <i class="material-icons">close</i>
			    </button>
			</div>-->

			<div class="modal-body" key="componentToShow">
			      
				<MainLogin 
					key="MainLogin"
					v-show="componentToShow == 'MainLogin'"
					@show-component="show_component"
				/>

		    <EmailSignIn
		    	key="EmailSignIn"
		    	v-show="componentToShow == 'EmailSignIn'"
          @show-component="show_component"
          @dismiss="dismiss_modal"
		    />

		    <CreateUser
		    	key="CreateUser"
		    	v-show="componentToShow == 'CreateUser'"
          @show-component="show_component"
		    />

		    <ForgotPassword 
		    	key="ForgotPassword"
		    	v-if="componentToShow == 'ForgotPassword'"
          @show-component="show_component"
		    />
			    
			</div>
		</div>
	</div>
</template>

<script>
import MainLogin from '@/components/Modals/LoginComponents/MainLogin.vue'
import ModalHeader from '@/components/Small/ModalHeader.vue'

import EmailSignIn from '@/components/Modals/LoginComponents/EmailSignIn.vue'
import CreateUser from '@/components/Modals/LoginComponents/CreateUser.vue';
const ForgotPassword 	= () => import('@/components/Modals/LoginComponents/ForgotPassword.vue');

import firebasefunctions from "@/assets/mixins/firebasefunctions.js"

export default {
  name: 'LoginModal',
  mixins: [firebasefunctions],
  components: {
  	MainLogin,
    ModalHeader,
  	EmailSignIn,
  	CreateUser,
  	ForgotPassword
  },
  data() {
    return {
    	showBackBtn: false,
    	componentToShow: "MainLogin",

      headercontent: {
        leftbutton: { show: false },
        title: { name: "", show: true },
        rightbutton: { show: true }
      },
    }
  },
  mounted() {
  	// Show login UI - REMOVED FOR COMMUNITY
  	//this.$_setup_login_ui();
  },
  methods: {
    header_left_clicked: function() {
      console.log("do nothing here");
    },
    dismiss_modal: function() {
      this.$root.showLoginModal = false;
    },
  	show_component: function(component) {
  		console.log("show component: " + component);
  		this.componentToShow = component;
  	}
  }
}


</script>

<style scoped lang="scss">

$green-color: #00AE75;

#firebaseui-auth-container > div > div.firebaseui-card-content > form > ul > li:nth-child(1) > button > span.firebaseui-idp-text.firebaseui-idp-text-long {
  padding-right:34px;
}

@media (min-width:320px)  {

  .modal-body {
    padding: 0 5rem;
  }
}

@media (min-width:961px)  {
  .modal-content {
  	top:15vh;
  }

  .modal-body {
    padding: 1rem 5rem 4em 5em;
  }
}

.modal-content {
  position:absolute;
  overflow:auto;

  .modal-header {
    button, a {
      padding:1rem;
    }
  }
}

/*

#exampleModal .modal-header {
    border-bottom:none;
}

#exampleModal .modal-footer { display:block; }

#exampleModal .modal-body {
    padding:1em 6em 4em 6em;
}

#exampleModal hr {
  margin-top:2rem;
  margin-bottom:2rem;
}

#exampleModal h6 {
    text-align:center;
}

#exampleModal p {
    text-align:center;
}

#exampleModal #createUserLinkDiv {
    padding:1em 0em;
}

.warning {
    color:orange;
    display:none;
}

#exampleModal #emailbtn {
    background-color:#00AE75;
    color:white;
    border-radius:2px;
    padding: 8px 16px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    max-width: 220px;
    min-height: 40px;
    width:100%;
}

#exampleModal #createaccountbtn {
    background-color:#fff;
    color:#00AE75;
    border-radius:2px;
    border: 1px solid #00AE75;
    padding: 8px 16px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    max-width: 220px;
    min-height: 40px;
    width:100%;
}

#exampleModal #emailbtn:hover, #exampleModal #createaccountbtn:hover { cursor:pointer; }

#exampleModal #emailsignintext, #exampleModal #createaccounttext {
    margin-left:16px;
}

#exampleModal i.fa-envelope, #exampleModal #createaccounticon {
    text-align:left;
}

#exampleModal #forgot-password {
    text-align:center;
    font-size:10px;
    color:#868e96;
}
#exampleModal #forgot-password:hover { cursor:pointer; }

#exampleModal #signin-password-input {
    margin-bottom:0;
}

*/
</style>
