<template>
  <div class="main-login-component">
    <!--<div id="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>-->
    <button class="button emailbtn" @click="$emit('show-component', 'EmailSignIn')">
      <i class="fas fa-envelope"></i> <span class="buttontext">Sign in with email</span>
    </button>
    
    <hr>

    <button class="button createaccountbtn" @click="$emit('show-component', 'CreateUser')">
      <span class="createaccounticon">+</span><span class="buttontext createaccounttext">Create account</span>
    </button>

    <p class="login-terms-text">
      By logging in, you agree to our <a href="https://packitup.io/terms" target="_blank">Terms of Use</a> & <a href="https://packitup.io/privacy" target="_blank">Privacy Policy</a>.
    </p>
  </div>
</template>

<script>

export default {
  name: 'MainLogin',
  data() {
    return {
    }
  },
  mounted() {
  },
  methods: {
  }
}


</script>

<style scoped lang="scss">

$green-color: #00AE75;

.main-login-component {
  width:100%;
  height:100%;

  .button {
    border-radius: 2px;
      padding: 8px 16px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
      max-width: 220px;
      min-height: 40px;
      width: 100%;
  }

  .buttontext {
    margin-left:16px;
  }

  .emailbtn {
    background-color: #00ae75;
      color: white;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }

  .createaccountbtn {
    background-color: #fff;
      color: #00ae75;
      border: 1px solid #00ae75;
  }

  .login-terms-text {
    font-size: 13px;
    width: 100%;
    color: #4c555e;
    position:absolute;
    bottom:0;
    left:0;

    a {
      color: #4c555e;
      text-decoration:none;

      &:hover {
        color: $green-color;
      }
    }
  }
}

</style>
