<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>PackitUp</title>

    <link rel="manifest" href="manifest.json">

    <!-- Meta tags -->
    <meta name="keywords" content="travel, buddies, exploring, trips, social, travelers, meet" />
    <meta name="description" content="PackitUp is a social network for travelers. Meet travel buddies or like-minded people around the world and discover new trips wherever you are." />
    <meta name="copyright"content="PackitUp IVS">
    <meta name="language" content="EN">
    <meta name="url" content="<%= process.env.VUE_APP_URL %>">
    <meta name="distribution" content="Global">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#00AE75">
    <link rel="canonical" href="<%= process.env.VUE_APP_URL %>" />
    <meta name="title" content="PackitUp">
    <meta name="url" content="<%= process.env.VUE_APP_URL %>">

    <!-- Open Graph tags -->
    <meta property="og:url" content="<%= process.env.VUE_APP_URL %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="PackitUp" />
    <meta property="og:description" content="Find Travel Buddies with PackitUp!" />
    <meta property="og:image" content="https://packitup.io/PackitUp_FeatureImage.jpg" />
    <meta property="og:image:secure_url" content="https://packitup.io/PackitUp_FeatureImage.jpg"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="PackitUp" />

    <!-- Twitter tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="PackitUp" />
    <meta name="twitter:site" content="@packitupteam" />
    <meta name="twitter:image" content="https://packitup.io/PackitUp_FeatureImage.jpg" />
    <meta name="twitter:creator" content="@packitupteam" />
    
    <!-- Favicons -->

    <link rel="icon" type="image/png" sizes="16x16" href="favicons/icon-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/icon-32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="favicons/icon-48.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/icon-96.png">
    <link rel="icon" type="image/png" sizes="144x144" href="favicons/icon-144.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicons/icon-192.png">
    <link rel="icon" type="image/png" sizes="256x256" href="favicons/icon-256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="favicons/icon-384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="favicons/icon-512.png">

    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48" href="favicons/favicon.ico">

    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="favicons/apple-touch-icon-167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180.png">

    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#00ae75">

    <meta name="msapplication-config" content="favicons/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#00b584">
    <meta name="msapplication-TileImage" content="favicons/ms-tile-144.png">
    <meta name="application-name" content="PackitUp">

    <!-- Lato font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">

    <!-- Firebase Auth UI -->
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.VUE_APP_GOOGLE_MAPS_KEY%>&libraries=places"></script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%=process.env.VUE_APP_GOOGLE_TAG_MANAGER_ID%>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%=process.env.VUE_APP_GOOGLE_TAG_MANAGER_ID%>');
    </script>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but PackitUp doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <script src="helpers/load-image.all.min.js"></script>
</html>
