html, body { /* To adjust viewport height to fit inside Safari */
  -webkit-overflow-scrolling : touch !important;
  overflow: auto !important; 
  overflow: scroll; // To make scrollbar invisible
  overflow-x: hidden; // To make scrollbar invisible
  height: 100% !important;
}

::-webkit-scrollbar {
  width: 0px; // To make scrollbar invisible
  background: transparent; // To make scrollbar invisible
}


html {
  height:100%;
  width:100%;

  -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
}

body {
  position:relative;
  margin:0;
  height:auto;
  width:100%;
  font-family: 'Lato';
}

h1, h2, h3, h4, h5, h6 {
  color:$darkgrey;
  margin:0 0 0.5rem 0;
}

p {
  margin:0;
}

a:hover {
  color: #000;
  cursor:pointer;
}

button {
  /*font-family: 'Lato', Helvetica, Arial, sans-serif;*/
  border:none;
  background:none;
  font-size:16px;
  line-height:24px;
  font-weight:400;

  &:hover {
    cursor:pointer;
  }

  &:focus {
    outline:none;
  }
}

input {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size:14px !important;
  padding: .375rem .75rem;
  color: $inputcolor;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border-radius: 6px;
  min-width: 12rem; 
  border: 1px solid $bordercolor; 
  height: 1.5rem;
  box-sizing: border-box; // This enables having a padding within input field, and not changing the width of the element at the same time. 

  /* Firefox input field fix
  padding: 0 0 0 1em !important;
  height: 2.4rem !important; */

  &:focus {
    outline:none;
  }
}

.createUserDiv .datepicker > span > input {
  // width: calc(100% - 1rem) !important; //Removed it to align it with rest of the input fields
  margin: 0.5rem 0 !important;
}

textarea {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 14px !important;
  padding: .375rem .75rem;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border-radius: 6px;
  border: 1px solid #ced4da;

  &:focus {
    outline:none;
  }
}

.pac-container { /* We might need this to make the autocomplete list show */
    /*z-index: 100000 !important;*/
}