$green: #00AE75;
$darkgrey: #454545;
$middlegrey: #83898D;
$lightgrey: #C7C7CC;
$lightergrey: #F5F5F5;

$greybutton: #6c757d;
$textcolor: #2c3e50;
$inputcolor: #495057;
$bordercolor: #ced4da;
$warningcolor: #ffa500;

$modalbackdrop: #fff;
$modalcontentborder: rgba(0,0,0,.2);
$modalfooterborder: #dee2e6;