@import '_base.scss';
@import '_layout';
@import '_module';
@import '_state';

/* Transitions & Animations */

/* Menu Transitions */
.fade-enter-active, .fade-leave-active { transition-property: opacity; transition-duration: 0.5s; }
.fade-enter-active { transition-delay: 0.5s; }
.fade-enter, .fade-leave-active { opacity: 0; }

/* Custom for menu items */
.fadehome-enter-active { transition-property: opacity;  transition-duration: 0.5s; }
.fadehome-enter { opacity:0; }
.fadehome-leave-active { transition: transform 0.5s ease-out; transform: translateY(100%); }

/* Slide entry */
.slidenav-enter-active { transition: transform 0.5s ease-out; }
.slidenav-enter { transform: translateY(100%); } /* Animating the screen thats entering */
.slidenav-leave-active { transition: transform 0.5s ease-out; transform: translateY(100%); }

/* From legacy styling */

@-webkit-keyframes fadein {
  from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes fadein {
  from {opacity: 0;}
    to {opacity: 1;}
}
@-o-keyframes fadein {
  from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
  from {opacity: 0;}
    to {opacity: 1;}
}

/* Expanding the trip description */
.expand {
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
  height: 20%;
  overflow: hidden;
}

.fadein {
  -webkit-animation: fadein 1s ease-in; /* Safari 4+ */
  -moz-animation:    fadein 1s ease-in; /* Fx 5+ */
  -o-animation:      fadein 1s ease-in; /* Opera 12+ */
  animation:         fadein 1s ease-in; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes fadeout {
  from {opacity: 1;}
    to {opacity: 0;}
}
@-moz-keyframes fadeout {
  from {opacity: 1;}
    to {opacity: 0;}
}
@-o-keyframes fadeout {
  from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
  from {opacity: 1;}
    to {opacity: 0;}
}

.fadeout {
  -webkit-animation: fadeout 1s ease-out; /* Safari 4+ */
  -moz-animation:    fadeout 1s ease-out; /* Fx 5+ */
  -o-animation:      fadeout 1s ease-out; /* Opera 12+ */
  animation:         fadeout 1s ease-out; /* IE 10+, Fx 29+ */
}