.nav-component {
  /*height: calc(100vh - 4rem);*/
  height:100vh;
  width: 100vw;
  /* position:fixed; To avoid overflowing the screen in Safari */
  /*margin-top:4rem;*/
}

@media (min-width:320px)  {

  .nav {
    border-radius: 0 0 10px 10px;
  
    .logo { /* Hiding the PackitUp logo in the menu bar */
      display:none !important;
    }

    .links {
      display: flex;
      width: 100%;
      justify-content: space-around;
      padding-right:0 !important;

      .newtripbtn {
        display:none !important;
      }

      .message-notification-bubble {
        width: 10px;
        white-space: nowrap;
        height: 10px;
        right: 42%;
        position: absolute;
        margin-top: -1rem;
        border-radius: 5px;
        background-color: #00AE75;
      }
    }

    .router-link-active, .active {
      color: $green !important;
      border-bottom: none;
    }
  }
}

.modal {
  height: calc(100vh - 4rem);

  .modal-content {
    height: 100vh;
    width: 100vw;
    // top: 0; // Removed in order to assure modal being in right place. 
    // left: 0; // Removed in order to assure modal being in right place. 
    max-width: 100vw;

    // .modal-body {
      // height: calc(100vh - 8rem); // Buttons were off the page with this value.
    // }
  }
}

@media (min-width:961px)  {

  .nav {
    border-radius:0;
    .logo { 
      display:flex !important;
    }

    .links {
      display:block;
      width:auto;
      padding-right:2rem !important;

      .newtripbtn {
        display:block;
      }

      .message-notification-bubble {
        width: 10px;
        white-space: nowrap;
        height: 10px;
        right: 42%;
        position: absolute;
        margin-top: -1rem;
        border-radius: 5px;
        background-color: #00AE75;
      }
    }

    .router-link-active, .active {
      color: #000 !important;
      border-bottom: 1px solid #000;
    }
  }

  .modal-content {
    max-height: 75vh;
    max-width:50%;
    // top:20%; // Removed in order to assure modal being in right place. 
    left:auto;
    border: 1px solid $modalcontentborder;

    height: auto;
    width: auto;

    .modal-body {
      height: auto;
    }
  }
}

.modal {
  display: flex;
  justify-content: center;
  position:fixed;
  height:100vh;
  width:100vw;
  top:0;
  left:0;
 
  .modal-backdrop {
    z-index:999;
    background-color: $modalbackdrop;
    opacity: 0.6;
    height:100%;
    width:100%;
  }

  .modal-content {
    z-index: 999;
    position:absolute;
    background-color:white;
    // border: 1px solid $modalcontentborder; //No border on mobile version, only on desktop. 
    border-radius: .3rem;

    .modal-body {
      position:relative;
    }
  }
}

.modal-header {
  width:100%;
  height:4rem;
  display:flex;
  justify-content:space-between;
  align-items: center; 
}

.modal-footer {
  height:4rem;
  background-color:white;
  // width: calc(100% - 1rem); 
  // position: absolute; //It is easier to set buttons in line with sides of the container, if position is the default value.
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items:center;
  border-top: 1px solid $modalfooterborder;
  padding: 0; 

} 
