#app {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $textcolor;
}

.greenbtn {
  background-color: $green;
  border-radius:0.25rem;
  color:white;
  line-height: 1.5; //I added this instead of the initial height: 2.3rem, to follow the styling of getpackitup.com
  padding: .375rem .75rem;
  font-weight:400;  // Value was changed to follow the styling of getpackitup.com
  font-size:0.9em;
}

.greybtn {
  background-color:$greybutton;
  border-radius:0.25rem;
  color:white;
  line-height: 1.5; //I added this instead of the initial height: 2.3rem, to follow the styling of getpackitup.com
  padding: .375rem .75rem;
  font-weight:400; // Value was changed to follow the styling of getpackitup.com
  font-size:0.9em;
}

.edit-profile-greenbtn {
  margin-left: 0.25rem;
  margin-right: 1rem;
}

.edit-profile-graybtn {
  margin-right: 0.25rem;
}

.settings-graybtn {
  margin-left: 1rem;
}

.settings-greenbtn {
  margin-right: 1rem;
}

.whitebtn {
  background-color: white;
  border-radius:0.25rem;
  color:$green;
  height:2.5rem;
  padding: .375rem .75rem;
  font-weight:600;
  font-size:0.9em;
}

.accenttext, .greentext {
  color: $green !important;
}

.smalltext {
  font-size:0.7rem;
  color: gray;
}

#message-notification-bubble {
  width:10px;
  height:10px;
  border-radius:5px;
  display: none;
  background-color:#00AE75;
  margin-left:-5px;
  margin-bottom:5px;
}

#imagecanvas-div { /* Do we need this? */
    background-color: gray;
    height: 10em;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

#imagecanvas { /* Do we need this? */
    background-color:gray;
    max-height:10em;
    width:100%;
}

.canvas {
  height:100% !important;
  width: 100% !important;
}

.newtripmodaltitle {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom:1.3em;
  font-size:1.75rem;
  color: #212529;
}

.drawer-pull {
  display: block;
  width: 10%;
  text-align: center;
  margin: 2em auto 3em auto;
  background-color: #d4d4d4;
  font-size: 3px;
  border-radius: 5px;
}

/* Styling nationality picker */

.edit-profile-body .name-edit-fields .dropdown #myInput { /* In edit profile */
  // width: calc(100% - 1rem); // Removed it, so it is in align with other fields. 
  width: 100%;
}

/* Styling datepicker */

.edit-profile-body .name-edit-fields .datepickerinput { /* In edit profile */
  // width: calc(100% - 1rem); // Removed it, so it is in align with other fields.
  width: 100%;
}



