.hidden {
  visibility:hidden;
}

.hide {
  display:none;
}

.show {
  display: block;
}

.link {
  cursor:pointer;
}

.deactivatedLink {
  cursor: unset;
  color: $middlegrey;
}

.mobile-newtripbtn.elavated {
  bottom:22% !important;
}

.warning {
  color: $warningcolor;
}

.warningText {
  color: $warningcolor;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}