<template>
	<div>
		<h3 class="newtripmodaltitle">Departure date</h3>
		<label v-if="label.show" :class="[label.extraClass]">{{ label.text }}</label>
		<DatePicker v-bind:minDate="new Date()" v-bind:maxDate="new Date(2050, 0, 1)" />
    <div class="trip-modal-footer-wrapper">
      <ModalFooter 
        v-bind:buttons="footerbuttons" 
        @confirm-clicked="footer_confirm_clicked" 
        @cancel-clicked="footer_cancel_clicked" 
  	  />
    </div>
		
	</div>
</template>

<script>
import DatePicker from '@/components/Small/DatePicker.vue'
import ModalFooter from '@/components/Small/ModalFooter.vue'

import general from '@/assets/mixins/general.js'

export default {
  name: 'NewTrip2',
  mixins: [general],
  components: {
  	DatePicker,
    ModalFooter
  },
  data() {
    return {
      date: new Date(),
      dateString: "",

    	label: { show: false, extraClass: "warningText", text: "" },

  		errorMessages: {
  			nothingEntered: "Please input a date.",
  			notFound: "Sorry, we had a problem understanding that date. Please try again."
  		},

  		footerbuttons: {
  			cancelbutton: { title: "Back", show: true, arrow: true },
  			confirmbutton: { title: "Next", show: true, arrow: true }
  		}
    }
  },
  methods: {
  	footer_cancel_clicked: function() {
      this.$emit('go-back');
    },
    footer_confirm_clicked: function() {

      const datetoreturn = this.$_get_string_from_long_date(this.date);

      this.$emit('date-chosen', datetoreturn);
      this.$emit('go-to-next-screen');
    },
  }
}


</script>


<style scoped lang="scss">
hr {
  border-color: transparent;
}

input {
  width:100%;
}

.newtripmodaltitle {
  padding-bottom: 1em;
}

.modal-footer {
  border-top: none;
  width: 100%;
}

.trip-modal-footer-wrapper {
  padding: 1rem 0 0 0;
}

</style>
