<template>
	<div>

		<h3 class="newtripmodaltitle">Where are you going?</h3>
		<label v-show="label.show" :class="[label.extraClass]">{{ label.text }}</label>
		<AutocompletePlacesField placeholder="Enter destination" @place-found="place_found" />
    <div class="trip-modal-footer-wrapper">
      <ModalFooter
        v-bind:buttons="footerbuttons" 
        @confirm-clicked="footer_confirm_clicked" 
        @cancel-clicked="footer_cancel_clicked" 
      />
    </div>
      
	</div>
</template>

<script>
import AutocompletePlacesField from '@/components/Small/AutocompletePlacesField.vue'
import ModalFooter from '@/components/Small/ModalFooter.vue'


export default {
  name: 'NewTrip0',
  components: {
  	AutocompletePlacesField,
    ModalFooter
  },
  data() {
    return {
      placeFound: false,
    	label: { show: false, extraClass: "warningText", text: "" },

  		errorMessages: {
  			noDestination: "Please input a valid destination.",
  			notFound: "Sorry, we couldn't find this place. Please try again."
  		},

  		footerbuttons: {
  			cancelbutton: { title: "Back", show: false, arrow: true },
  			confirmbutton: { title: "Next", show: true, arrow: true }
      },
    }
  },
  methods: {
  	place_found(place) {
      this.placeFound = true;
      this.$emit('destination-chosen', place);
  	},
  	footer_cancel_clicked: function() {
      console.log("Do nothing");
    },
    footer_confirm_clicked: function() {
      console.log("confirm clicked " + this.placeFound);
      if (this.placeFound) {
        this.$emit('go-to-next-screen');
      } else {
        this.label.text = this.errorMessages.noDestination;
        this.label.show = true;
        //alert('Please enter a valid destination');
      }
    },
  }
}


</script>


<style scoped lang="scss">
input {
  width:100%;
}

.modal-footer {
  border-top: none;
  width: 100%;
}

.newtripmodaltitle {
  padding-bottom: 1em;
}

#confirmBtn0 {
  font-weight: 400;
  background-color: red;
}

.trip-modal-footer-wrapper {
  padding: 1rem 0 0 0;
}

</style>
