<template>
	<div>

		<h3 class="newtripmodaltitle">Please describe your trip</h3>
		<label v-if="label.show" :class="[label.extraClass]">{{ label.text }}</label>
		<textarea required rows="3" aria-describedby="descriptionHelp" v-model="description" placeholder="Example: Hi, I am going to Australia for a few months and I'd like to go on a few road trips with some people. I am down to get a car somewhere and drive in any direction. Let me know if you are around!"></textarea>
		<div class="trip-modal-footer-wrapper">
		<ModalFooter 
	    	v-bind:buttons="footerbuttons" 
	    	@confirm-clicked="footer_confirm_clicked" 
	    	@cancel-clicked="footer_cancel_clicked" 
	  	/>
		</div>
		
	</div>
</template>

<script>
import ModalFooter from '@/components/Small/ModalFooter.vue'

export default {
  name: 'NewTrip1',
  components: {
    ModalFooter
  },
  data() {
    return {
    	description: "",
    	label: { show: false, extraClass: "warningText", text: "" },

		errorMessages: {
			nothingEntered: "Please input a longer description.",
			notFound: "Sorry, we had a problem saving your trip. Please try again."
		},
		successMessages: {
			posted: "Congratulations! Your trip was posted."
		},

		footerbuttons: {
			cancelbutton: { title: "Back", show: true, arrow: true },
			confirmbutton: { title: "Submit", show: true, arrow: true }
		}
    }
  },
  methods: {
  	footer_cancel_clicked: function() {
  		this.$emit('go-back');
    },
    footer_confirm_clicked: function() {
    	if (this.description.length > 0) {
    		this.$emit('save-trip', this.description);
      		this.$emit('dismiss');
    	} else {
    		console.log("description is not long enough");
    		this.label.text = this.errorMessages.nothingEntered;
    		this.label.show = true;
    	}
    },
  }
}


</script>


<style scoped lang="scss">

.newtripmodaltitle {
  padding-bottom: 1em;
}

.modal-footer {
  border-top: none;
   width: 100%;
}

textarea {
	width:100%;
	// margin-bottom:6rem;
	height:auto;
	min-height:8.4rem;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	box-sizing: border-box;
}

.trip-modal-footer-wrapper {
  padding: 1rem 0 0 0;
}

</style>
