<template>
	<div>

		<h3 class="newtripmodaltitle">Where are you traveling from?</h3>
		<label v-if="label.show" :class="[label.extraClass]">{{ label.text }}</label>
		<AutocompletePlacesField placeholder="Enter departure location" @place-found="place_found" />
    <div class="trip-modal-footer-wrapper">
      <ModalFooter 
        v-bind:buttons="footerbuttons" 
        @confirm-clicked="footer_confirm_clicked" 
        @cancel-clicked="footer_cancel_clicked" 
      />
    </div>
		
	</div>
</template>

<script>
import AutocompletePlacesField from '@/components/Small/AutocompletePlacesField.vue'
import ModalFooter from '@/components/Small/ModalFooter.vue'

export default {
  name: 'NewTrip1',
  components: {
  	AutocompletePlacesField,
    ModalFooter
  },
  data() {
    return {
      placeFound: false,
    	label: { show: false, extraClass: "warningText", text: "" },

  		errorMessages: {
  			nothingEntered: "Please input a valid departure location.",
  			notFound: "Sorry, we couldn't find this place. Please try again."
  		},

  		footerbuttons: {
  			cancelbutton: { title: "Back", show: true, arrow: true },
        confirmbutton: { title: "Next", show: true, arrow: true }
      },


    }
  },
  methods: {
  	place_found(place) {
      this.placeFound = true;
      this.$emit('departure-chosen', place);
  	},
  	footer_cancel_clicked: function() {
      this.$emit('go-back');
    },
    footer_confirm_clicked: function() {
      if (this.placeFound) {
        this.$emit('go-to-next-screen');
      } else {
        this.label.text = this.errorMessages.nothingEntered;
        this.label.show = true;
        //alert('Please enter a valid departure location');
      }
    },
  }
}


</script>


<style scoped lang="scss">

input {
  width:100%;
}

.newtripmodaltitle {
  padding-bottom: 1em;
}

.modal-footer {
  border-top: none;
   width: 100%;
}

.trip-modal {
  background-color: black;
}

.trip-modal-footer-wrapper {
  padding: 1rem 0 0 0;
}

</style>
