<template>
  <div class="nav-component">

    <Map 
    	@open-trip="open_trip" 
      v-bind:loadMap="loadMap"
      :key="mapKey"
    />

    <TripPopup
    	v-if="showTripPopup"
      :key="tripKey"
    	v-bind:markerKeys="markerKeys"
    	@set-trip-image="set_trip_image"
    />

    <transition name="fade">
      <IntroModal
        key="IntroModal"
        v-if="showIntroModal"
        @dismiss="hide_intro_modal"
      />
    </transition>

    <transition name="fade">
      <PWANudge
        key="Nudge"
        v-if="showNudge && mobilescreen && !runningAsStandalonePWA"
        v-bind:installPrompt="beforeinstallpromptAvailable"
        @install="installPWA"
        @dismiss="hide_nudge"
      />
    </transition>

    <transition name="fade">
      <NotSignedInModal
        key="NotSignedInModal"
        v-if="showNotSignedInModal"
      />
    </transition>

    <transition name="fade">
      <NewTripModal 
        :key="$root.showNewTripModalKey"
        v-if="$root.showNewTripModal"
      />
    </transition>

    <transition name="fade">
      <LoginModal 
        :key="$root.showLoginModalKey"
        v-if="$root.showLoginModal"
      />
    </transition>

    <!-- Install banner at the top of the screen
    <div v-if="mobilescreen && showInstallPrompt" class="installprompt" @click="getDeferredPrompt">
      <h4>Install app</h4>
    </div>-->

    <!--<div :key="emailskey" class="emails">{{ emails }}</div>-->

  </div>
</template>

<script>
import Map from '@/components/Map.vue'
import TripPopup from '@/components/TripPopup/TripPopup.vue'

const IntroModal        = () => import('@/components/Modals/IntroModal.vue');
const PWANudge          = () => import('@/components/PWANudge.vue');
const NotSignedInModal  = () => import('@/components/Modals/NotSignedInModal.vue');
const NewTripModal      = () => import('@/components/Modals/NewTripModal.vue');
const LoginModal        = () => import('@/components/Modals/LoginComponents/LoginModal.vue');

import general from "@/assets/mixins/general.js"
import firebasefunctions from "@/assets/mixins/firebasefunctions.js"

export default {
  name: 'Home',
  mixins: [general, firebasefunctions],
  components: {
  	Map,
  	TripPopup,
    IntroModal,
    PWANudge,
    NotSignedInModal,
    NewTripModal,
    LoginModal
  },
  data() {
  	return {
      componentLoaded: false,
      map:null,
  		mapKey: 0,
      loadMap: false,
      tripsLoading: false,
      showIntroModal: true,
      showNudge: false,
  		showTripPopup: false,
      showNotSignedInModal: false,
  		markerKeys: [], // Current marker's trip keys
      tripKey: 10,
      currentTripImageOptionsArray: [],
      tripExpanded: false,
      tripOpen: false,
      showInstallPrompt: false,
      emails: [],
      emailskey: 100,

      beforeinstallpromptAvailable: false,
      deferredPrompt: null
  	}
  },
  computed: {
  	mobilescreen: function() {
      //console.log("COMPUTING: mobilescreen");
      const onMobile = document.body.clientWidth < 960;
      this.$root.mobile = onMobile;
  		return onMobile;
  	},
    authorized: function() {
      //console.log("COMPUTING: getting authorized " + this.$root.authenticated);

      return this.$root.authenticated;
    },
    showIntroModalOnLoad: function() {
      if (!this.componentLoaded) {
        //console.log("showintromodalonload " + this.authorized);
        return !this.authorized;
      }
    },
    runningAsStandalonePWA: function() {
      return window.matchMedia('(display-mode: standalone)').matches;
    }
  },
  watch: {
    authorized (newValue) {
      if (newValue) { 
        this.showIntroModal = false; 
        this.start_map_load();
      }
    },

  },
  mounted() {
    //this.$store.dispatch('reset_trips');

    //console.log("home is mounted " + this.$store.getters.get_authenticated);
    //this.showIntroModal = !this.$store.getters.get_authenticated;

    /*const self = this;
    this.$_getData().then(function(response) {
      self.emails = response;
      self.emailskey++;
    });*/

    // Checks if the browser supports push notifications
    var pushSupported = 'serviceWorker' in navigator && 'PushManager' in window;
    console.log(pushSupported);

    this.getDeferredPrompt();

  },
  created() {
    this.listenForTokenRefresh(); // Saves the Firebase messaging token if it gets refreshed and changes 
  },
  methods: {
    hide_intro_modal: function() {
      console.log("hide_intro_modal");
      this.showIntroModal = false;
      this.start_map_load();
    },
    hide_nudge: function() {
      console.log("hide_nudge");
      this.showNudge = false;
    },
    open_login: function() {
      console.log("open_login");
      this.showIntroModal = false;
      this.$root.showLoginModal = true;
      this.$root.showLoginModalKey++;
      this.start_map_load();
    },
    start_map_load: function() {
      this.loadMap = true;
      this.mapKey++;
    },
  	open_trip: function(markerObject) {
      console.log("open_trip");
      this.map = markerObject.map;
  		this.showTripPopup = true;
  		this.markerKeys = markerObject.markerid;
      this.tripKey++;

      this.tripOpen = true;
  	},
  	set_trip_image: function(optionsarray) {
      console.log("set_trip_image ");
      console.log(optionsarray);

      this.currentTripImageOptionsArray = optionsarray;

      const googlePlaceID = this.currentTripImageOptionsArray.placeId;

      // Get the image from the trip ID
      var request = {
        placeId: googlePlaceID,
        fields: ['photos']
      };
      var service = new google.maps.places.PlacesService(this.map);
      service.getDetails(request, this.tripImageCallback);
    },
    tripImageCallback: function(results, status) {
      console.log("tripimagecallback");
      const self = this;
      const googlePlaceID = this.currentTripImageOptionsArray.placeId;
      const element = this.currentTripImageOptionsArray.element;
      const tripKey = this.currentTripImageOptionsArray.tripKey;

      if (status == google.maps.places.PlacesServiceStatus.OK) {
        if (results.photos != null) {
          var firstphoto = results.photos[0];
          var photoURL = firstphoto.getUrl({maxHeight: 600});
          //$(element).css("background-image", "url('" + photoURL + "')");
          element.style.backgroundImage = "url('" + photoURL + "')";

          self.save_trip_image(tripKey, photoURL); 
        }
      } else {
        alert("Problem with Google Places " + status);
      }
    },
    save_trip_image: function(tripKey, photoURL) {
      // Save to Firebase - REMOVED since the tokens update and the pictures expire 
      //var ref = "routes/" + tripKey;
      //var update = {'tripPic': photoURL};
      //this.$_updateFirebaseData(ref, update);

      // Also put into our array in case the trip is clicked 
      var tripInfo = this.$store.getters.get_trip(tripKey);
      tripInfo.value.tripPic = photoURL;
      this.$store.dispatch('update_trip_info', tripInfo);
      //this.tripsTodayOrLaterList[tripKey] = tripInfo; 
    },
    getDeferredPrompt: function() {
      window.addEventListener('beforeinstallprompt', (e) => {
        // Prevent Chrome 67 and earlier from automatically showing the prompt
        e.preventDefault();
        // Stash the event so it can be triggered later.
        this.deferredPrompt = e;

        // Now the install event is available, so we'll show the button 
        //this.showInstallPrompt = true;
        this.beforeinstallpromptAvailable = true;
        this.showNudge = true;
      });
    },
    installPWA: async function() {
      if (this.deferredPrompt) {
        deferredPrompt.prompt();
        console.log(deferredPrompt)

        const self = this;
        deferredPrompt.userChoice.then(function(choiceResult){

          if (choiceResult.outcome === 'accepted') {
            console.log('Your PWA has been installed');
          } else {
            console.log('User chose to not install your PWA');
          }

          self.deferredPrompt = null;
        });
      }
    }
  }
}
</script>

<style scoped lang="scss">

.emails {
   -moz-user-select: text;
   -khtml-user-select: text;
   -webkit-user-select: text;
   -ms-user-select: text;
   user-select: text;
}

.installprompt {
  position:absolute;
  top:3.5rem;
  width:100%;
  background: $green;
  cursor:pointer;

  h4 {
    color:white;
    margin: 1rem 0 0.5rem 0;
  }
}

</style>
