<template>
  <div class="nav-component messages-overlay">

        <div class="overview-container" v-if="showOverview">
          <Overview 
            @change-convo="change_convo" 
            @dismissBanner="hide_push_banner"
            v-bind:chosenuid="chosenUID" 
            v-bind:showPushBanner="showPushBanner"
            :key="messageKey"
          />
        </div>

        <div class="chat-container" v-if="showChat">

          <Chat 
            v-if="chosenUID.length > 0" 
            v-bind:chosenuid="chosenUID" 
            :key="chosenUID" 
            @back-to-overview="back_to_overview"
            @send-notification="sendNotification"
          />

          <ProfileComponent v-if="showProfile" v-bind:uid="chosenUID" v-bind:showHeader="true" />

        </div>

        <transition name="fade">
          <PushNudge v-if="showPushNudge" @dismiss="showPushNudge = false" />
        </transition>

    </div>
</template>

<script>
import Overview from '@/components/Messages/Overview.vue';

const Chat              = () => import('@/components/Messages/Chat.vue');
const ProfileComponent  = () => import('@/components/ProfileComponent.vue');
const PushNudge         = () => import('@/components/PushNudge.vue')

import firebasefunctions from "@/assets/mixins/firebasefunctions.js"

export default {
  name: 'Messages',
  mixins: [firebasefunctions],
  components: {
    Overview,
    Chat,
    ProfileComponent,
    PushNudge
  },
  data() {
  	return {
      chosenUID: "",
      showProfile: false,
      messageKey: 0,
      showChat: true,
      showOverview: true,

      showPushNudge: false,
      showPushBanner: false
  	}
  },
  computed: {
    mobilescreen: function() {
      return document.body.clientWidth < 960;
    },
  },
  watch: {
    '$route.params.id': function (id) {
      this.update_view();
    }
  },
  mounted() {
    console.log("messages mounted");

    this.update_view();

    if (this.$root.mobile) {
      this.checkForNotificationAsk();
    }

    //this.askForPermissionToReceiveNotifications();

    //const messagesLoaded = this.$store.getters.get_number_of_trips;
    //this.$_listenForMessages(messagesLoaded);
  },
  methods: {
    hide_push_banner: function() {
      this.showPushBanner = false;
      this.messageKey++;
    },
    checkForNotificationAsk: function() {
      const self = this;
      this.database.ref('users/' + this.$root.myUID + '/token').once('value', function(snapshot) {
        if (!snapshot.exists()) { // Check if they already have a notification token saved 
          if (!self.$store.getters.get_push_nudge_shown) { // Check if we've already asked on this device
            // If no, show the PushNudge
            self.showPushNudge = true;
            self.$store.dispatch('set_push_nudge_shown', true);
          } else {
            self.showPushBanner = true;
            self.messageKey++;
          }
        }
      });
    },
    update_view: function() {
      if (this.$route.params != undefined && this.$route.params.id != undefined) {
        console.log(this.$route.params.id);
        this.chosenUID = this.$route.params.id;
        if (this.$root.mobile) { 
          this.showOverview = false; 
          this.showChat = true;
        }
      } else { // No chat was passed to open, check if we're on mobile
        if (this.$root.mobile) { 
          this.showOverview = true;
          this.showChat = false; 
        }
      }
    },
    change_convo: function(convoUID) {
      console.log("switching convo to: " + convoUID);
      this.showProfile = false;
      this.chosenUID = convoUID;

      if (this.$root.mobile) {
        this.showOverview = false;
        this.showChat = true;
      }
    },
    back_to_overview: function() {
      if (this.$root.mobile) {
        this.showChat = false;
        this.showOverview = true;
      }
    },


    sendNotification: function(msg) {
      const message = msg.message;

      this.database.ref('users/' + msg.recipientID + '/token').once('value', function(snapshot) {
        if (snapshot.exists()) {
          const userToken = snapshot.val();

          if (userToken != undefined && userToken != null) {

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "https://us-central1-shining-fire-5731.cloudfunctions.net/notificationSend", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                "message": message,
                "token": userToken
            }));
          }
        }
      });
    },
    stopNotificationInterval: function() {
      $(notificationBubble).css('display', 'none'); // Hiding the notification bubble in the menu

      if (browserTabInterval1boolean) {
          clearInterval(browserTabInterval1);
          browserTabInterval1boolean = false;
      }
      if (browserTabInterval2boolean) {
          clearInterval(browserTabInterval2);
          browserTabInterval2boolean = false;
      }

      $(document).attr("title", "PackitUp");
    },
    startNotificationInterval: function() {
      $(notificationBubble).css('display', 'inline-block'); // Showing the notification bubble in the menu

      // Changing to New Message every 2 seconds
      browserTabInterval1 = setInterval("changeTabTitle('New Message')", 2000);
      browserTabInterval1boolean = true;

      // Waiting 1 second and then change back to original title every 2 seconds
      window.setTimeout(setSecondInterval, 1000);

      function setSecondInterval() {
          browserTabInterval2 = setInterval("changeTabTitle('PackitUp')", 2000);
          browserTabInterval2boolean = true;
      }
    },
    changeTabTitle: function(title) {
      $(document).attr("title", title);
    },
    updateUnreadCount: function(unreadcount, element) {
      if (unreadcount != undefined) {
          element.getElementsByClassName["unreadcount"][0].style.display = 'block';
          element.getElementsByClassName["unreadcount"][0].textContent = unreadcount;
      } else {
          element.getElementsByClassName["unreadcount"][0].style.display = 'none';
      }
    },
  },
  created() {
    if (this.$root.myUID == undefined) { // REDIRECT HOME 
      this.$root.activeNav = 'Home';
      this.$router.push('/');
    } else {
      //console.log("messages created");
      //const self = this;
      /*this.$_startMessageListener(this.$root.myUID).then(function(response) {
        console.log("Messages fetched - dismiss loader? " + response);
        self.messageKey++;
      }).catch(function(error) {
        console.log("error fetching messages in messages " + error);
      });*/
    }
  },
  beforeRouteLeave (to, from, next) {
    this.showProfile = false;

    if (this.$root.mobile) {
      this.showOverview = true;
      this.showChat = false;
    } 

    next();
  }
}
</script>

<style scoped lang="scss">

@media (min-width:320px)  {
  .messages-overlay {
    margin-top:4rem;
    height: calc(100vh - 4rem);

    .overview-container {
      width:100%;
      height:100%;
      border-right: 1px solid #c4c4c447;
    }

    .chat-container {
      width:100%;
      height:100%;

      .profilecomponent {
        height: 100%;
        background-color: white;
      }
    }
  }
}

@media (min-width:961px)  {

  .messages-overlay {
    display:flex;

    .overview-container {
      width:35%;
      height:100%;
      border-right: 1px solid #c4c4c447;
    }

    .chat-container {
      width:66.75%;
      height:calc(100% - 4rem);
      position: fixed;
      right: 0;

      .profilecomponent {
        height: 100%;
        width: 65%;
        background-color: white;
      }
    }
  }
}

//No scrollbars
.messages-overlay {
// Hide scrollbar for Chrome, Safari and Opera
//Hide scrollbar for IE and Edge
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
max-width: calc(100% - 4em);//preventing overflow to the sides
}

a.nav-link:hover { color:black; cursor:pointer; }

.active_chat { background: #ebebeb; }

.messages-container { padding:65px 0 0 0; }

.received_withd_msg { word-break: break-word; } /* This makes sure we add a wordbreak if someone types a really long word that goes beyond the border of the message */

.inbox_msg { clear: both; overflow: hidden; }

img { max-width:100%; }

/* 
Styling the messages and conversations overview 
*/

/* Making sure the messages take up the whole screen responsively */
.messaging, .container, .inbox_msg, .inbox_people, .mesgs, .msg_history, .inbox_chat { height:100% !important; }

/***** Conversation overview *****/

.inbox_people {
  float: left;
  width: 40%; 
  border-right:1px solid #c4c4c447;
}

/* Sub-level 1 */
.inbox_chat {
    height: 90vh !important;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none;  /* Firefox */
}
.inbox_chat::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* Sub-level 2 */
.chat_list { border-bottom: 1px solid #c4c4c447; margin: 0; padding: 18px 16px 10px; }
.chat_list:hover { cursor:pointer; }

/* Sub-level 3 */
.chat_people { overflow:hidden; clear:both; }

/* Sub-level 4 */
#chat_img_canvas { border-radius:50%; }
.chat_img {
  background-image: url("/images/anonymous-profile-pic.jpg");
  background-size:cover;
  background-position:center;
  border-radius:50%;
  float: left; 
}

/* Sub-level 5 */
.chat_ib h5 { font-size:15px; color:#464646; margin:0 0 8px 0; }
.chat_ib h5 span { font-size:13px; float:right; padding-top:2px; }
.chat_ib p { font-size:14px; color:#989898; margin:auto }

/***** Messages window *****/

.mesgs { float: left; padding: 0; width: 60%; }

/* Sub-level 1 */

.type_msg { /* Sticking the message typing field to the bottom of the screen */
    position:fixed !important;
    display:none;
    bottom:1em;
}

.msg_history {
  height:80vh !important;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;  /* Firefox */
}

.msg_history::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* 
Customizing the layout 
*/

.latest-message { float:left; }

.incoming-msg-img {
  height:25em;
  width:25em;
  border-radius:50%;
  background-image: url("/images/anonymous-profile-pic.jpg");
  background-size:cover;
  background-position:center;
}

.incoming_msg_img > .chat_img, .incoming_msg_img > .chat_img > .chat_img_canvas {
  max-width:100%;
  max-height:100%;
}

.unreadcount { 
  display:none;
  float:right;
  padding: 0.2em 0.7em;
  background-color: #00AE75;
  color: white;
  border-radius: 50%;
}

.chat-profile-img {
  border-radius:50%;
  object-fit: cover;
  height: 100%;
}

 .sent_msg p {
  background: #00AE75 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg { overflow:hidden; margin:26px 0 26px;}
.input_msg_write { height:46px; }
.input_msg_write input, .input_msg_write textarea {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  height: 46px;
  width: 100%;
  padding-top:8px;
  padding-left:12px;
  padding-right:18%; /* To make room for the send button */
  resize: vertical; /* user can resize vertically, but width is fixed */
}

.type_msg {border: 1px solid #c4c4c4;position: relative; border-radius:4px;}
.msg_send_btn {
  background: #00AE75 none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 38px;
  position: absolute;
  right: 0.5em;
  top: 5px;
  width: auto;
}
.msg_send_btn > i {
  padding-top: 7px;
  font-size: 1.2rem;
  padding-left: 3px;
}
.messaging { padding: 0 0 50px 0;}

#mesgs-profile-bar {
  display:none;
  position:absolute;
  width:100%;
  background-color:gray;
  margin-left:-2em;
  top:0;
  height:12%;
  background-color:#ebebeb;
}

#mesgs-profile-bar p { 
  position: absolute;
  top: 4em;
  right: 1em;
  cursor:pointer;
}

/* Profile in messages */
#mesgs-profilepic {
    height:8em;
    width:8em;
    border-radius:50%;
    background-image: url('/images/anonymous-profile-pic.jpg');
    background-size:cover;
    background-position: center;
    margin:0 auto;
}

#mesgs-profilepiccanvas {
    height:8em;
    width:8em;
    border-radius:50%;
}

.mesgs-name-title{
    text-align:center;
}

.mesgs-profiletabs > ul {
    margin: 0 auto;
}

.mesgs-profiletabcontent > div {
    margin: 2% 10%;
}

.mesgs-profiletabs > ul > li > a.active {
    background-color: #00b685 !important;
    color: white !important;
}

.mesgs-profiletabs > ul > li > a {
    color: #00b685 !important;
}

.mesgs-profile-back-btn { 
  color: gray !important;
  text-decoration: none !important;
  padding: 0.2em 0.2em 0.2em 1em;
}

/* 
Leftover styling from the template used 
*/

.top_spac { margin: 20px 0 0; }

.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; 
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.incoming_msg_img > .chat-profile-img {
    height: 2rem;
    width: 2rem;
}
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

</style>
