<template>
	<div class="nav-component myprofilecontainer" :key="profileUpdateKey">
        <div>
            <div class="myprofilepic" id="myprofilepic" ref="profilepic"><ImageCanvas v-bind:convoUID="$root.myUID" /></div>
        </div>
        <br />
        <div class="profiletitle">
            <h1>{{ profileTitle() }} <country-flag :country="flag()" size="normal" /> <span v-if="age > 0">{{ age() }}</span></h1>
        </div>
        <br />
        <div class="profiletabs">
            <ul >
                <li>
                    <a :class="{ 'active': showDescription}" @click="descriptionActive = true">
                        Description
                    </a>
                </li>
                <li>
                    <a :class="{ 'active': showTrips}" @click="descriptionActive = false">
                        Trips
                    </a>
                </li>
            </ul>
        </div>
        <br />
        <div class="profiletabcontent">
            <div v-if="showDescription" class="descriptioncontent">
                <p v-if='description == ""'>
                    <i>No profile description.</i>
                </p>
                <p v-else>
                    <i>{{ description() }}</i>
                </p>
            </div>
            <div v-if="showTrips">
                <p v-if="tripsList.length == 0">
                    <i>No trips.</i>
                </p>
                <div v-else>
                    <div v-for="trip in tripsList">
                        <p>
                            Trip to {{ trip.value.to }} <i class="fa fa-times delete-trip" aria-hidden="true" @click="remove_trip(trip.key)"></i>
                        </p>
                        <p>
                            From {{ trip.value.from }} on {{ trip.value.thedate }}
                        </p>

                        <br />
                    </div>
                </div>
            </div>
        </div>
            
        <p 
            @click="showProfileEditModal = true" 
            class="edit-btn"
        >
            
            Edit Profile
        </p>

        <p class="settings-icon" @click="showProfileSettingsModal = true">
            Settings
        </p>

        <transition name="fade">
            <ProfileEditModal
                :key="showProfileEditModal"
                v-if="showProfileEditModal"
                @reload-profile="reload_profile"
                v-bind:profile="{ firstname: firstname(), lastname: lastname(), displayName: displayName(), description: description(), birthday: birthday(), nationality: nationality(), picURL: picURL() }"
            />
        </transition>

        <transition name="fade">
            <ProfileSettingsModal
                :key="showProfileSettingsModal"
                v-if="showProfileSettingsModal"
            />
        </transition>
            
    </div>
</template>

<script>
import ImageCanvas from '@/components/Small/ImageCanvas.vue'

import CountryFlag from 'vue-country-flag'
import countries from '@/assets/countries.js'

const ProfileEditModal      = () => import('@/components/Modals/ProfileComponents/ProfileEditModal.vue');
const ProfileSettingsModal  = () => import('@/components/Modals/ProfileComponents/ProfileSettingsModal.vue');

import firebasefunctions from "@/assets/mixins/firebasefunctions.js"
import general from "@/assets/mixins/general.js"

export default {
  name: 'Profile',
  mixins: [general, firebasefunctions, countries],
  components: {
    CountryFlag,
    ProfileEditModal,
    ProfileSettingsModal,
    ImageCanvas
  },
  data() {
  	return {
        profileValue: {},
        profileUpdateKey: 0,
        descriptionActive: true,
        
        showProfileEditModal: false,
  		showProfileSettingsModal: false,
  	}
  },
  computed: {
    showDescription: function() {
        return this.descriptionActive;
    },
    showTrips: function() {
        return this.descriptionActive ? false : true;
    },
    tripsList: function() {
        console.log("getting trips for " + this.$root.myUID);
        return this.$store.getters.get_trips_for_UID(this.$root.myUID);
    }
  },
  mounted() {
    //this.updateProfileImage();
    //this.$_listenForProfileChanges(this.$root.myUID);

    //this.$_listenForTripChanges();

    this.setupProfile();
  },
  created() {
    if (this.$root.myUID == undefined) { // REDIRECT HOME + log out 
      this.$root.activeNav = 'Home';
      this.$router.push('/');
    }
  },
  watch: {
    '$root.myUID': function(newUID) {
        this.setupProfile();
    }
  },
  methods: {
    reload_profile: function() {
        this.setupProfile();
        console.log("reloading " + this.description());
        this.profileUpdateKey++;
    },
    setupProfile: function() {
        console.log("setting up profile");
        const self = this;
        if (this.$root.myUID != undefined) {
            this.$_downloadFirebaseData('/users/' + this.$root.myUID).then(function(response) {
                self.profileValue = response.value;
                console.log(response);
                self.profileUpdateKey++;
            }).catch(function(error) {
                console.log("error getting profile " + error);
                console.log("PROFILE NOT FOUND - redirecting"); // + LOG OUT 
                this.$root.activeNav = 'Home';
                this.$router.push('/');
            });
        } else {
            console.log("PROFILE NOT FOUND - redirecting"); // + LOG OUT 
            this.$root.activeNav = 'Home';
            this.$router.push('/');
        }
    },
    /*populateProfile: function() {;
        // Setting up the name, in case we only have one
        if (this.firstname() == "" && this.displayName() != "") {
            
            var nameArr = this.displayname().split(" ");
            var fname = nameArr[0];
            var lname = nameArr[nameArr.length-1];

            this.firstname = fname;
            this.lastname = lname;
        }
        
    },*/
    updateProfileImage: function() {
        //console.log("updating profile image " + this.$refs.profilepic + " and " + this.picURL);
        if (this.$refs.profilepic != undefined && this.picURL() != undefined) {
            this.$_loadMyImage(this.picURL, this.$refs.profilepic); 
        } else {
            //console.log(this.$refs.profilepic);
            //console.log(this.picURL);
        }
    },
    remove_trip: function(tripUID) {

        if (confirm('Are you sure you want to delete this trip?')) {
            // Delete it
            if (tripUID != null && tripUID != undefined) {
                //firebase.database().ref('routes/' + tripUID).remove();
                var tripref = 'routes/' + tripUID;
                console.log("removing: " + tripref);

                this.$_removeFirebaseData(tripref);

                //tripref.remove();
                //this.$store.remove_trip(tripUID);

                // Removed - reload the page
                /*setTimeout(function() {
                    // This will happen after 1 second
                    location.reload(); // Reloading the page to show the trip
                }, 2000);*/
            }
        }
    },
    firstname: function() {
        return this.$_get_firebase_item(this.profileValue, 'firstname');
    },
    lastname: function() {
        return this.$_get_firebase_item(this.profileValue, 'lastname');
    },
    displayName: function() {
        if (this.profileValue != undefined) {
            return this.$_get_firebase_item(this.profileValue, 'displayName');
        } else {
            return "Anonymous";
        }
    },
    profileTitle: function() {
        const name = this.displayName() != "" ? this.displayName() : this.firstname() != "" ? this.firstname() + ' ' + this.lastname() : "Anonymous";

        return name;
    },
    description: function() {
        console.log("COMPUTING description ");
        console.log(this.profileValue);
        return this.$_get_firebase_item(this.profileValue, 'description');
    },
    picURL: function() {
        console.log("computing picurl");
        //this.updateProfileImage();
        //loadMyImage(url, div, picID);  
        return this.$_get_firebase_item(this.profileValue, 'profileImage');
    },
    birthday: function() {
        return this.$_get_firebase_item(this.profileValue, 'birthday');
    },
    age: function() {
        return this.birthday() != "" ? this.$_calculateAge(this.birthday()) : "";
    },
    nationality: function() {
        return this.$_get_firebase_item(this.profileValue, 'nationality');
    },
    flag: function() {
        if (this.nationality() != "" && this.countrylist != undefined) {
            const nationalityObj = this.countrylist.find(country => country.name == this.nationality());
            if(nationalityObj != undefined) {
                return nationalityObj.code;
                //return "<country-flag country='" + nationalityObj.code + "' size='normal'></country-flag>";
            } else {
                return "";
            }
        } else {
            return "";
        }
    },
  }
}
</script>

<style scoped lang="scss">

.myprofilecontainer {
    overflow-y: scroll;
    padding-top:1rem;
    height:auto;
    margin-top:4rem;
    height: calc(100vh - 5rem);

    .profiletitle {
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 40px;
            font-weight:500;
            margin: 0 8px;
        }
    }
}

.profiletabs {
    a.active {
        background-color: #00b685 !important;
        color: white !important;
    }

    a {
        color: #00b685 !important;
        
        &:hover {
            color:black;
            cursor:pointer;
        }
    }

    ul {
        margin: 0 auto;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            a {
                padding: .5rem 1rem;
                border-radius: .25rem;
            }
        }
    }
}

.delete-trip {
    cursor:pointer;
}

.profiletabcontent { /* This creates a scrollbar in the profile tabs content */
    height:auto;
    overflow:auto;
    text-align:left;
    margin-top:1rem;

    .descriptioncontent{
        margin: 0 20%;
    }
}

.edit-btn, .settings-icon {
    cursor:pointer;
    background-color:white;
    padding-right:30px;
    padding-bottom:10px;
    position:fixed;
}

#destination-label, #departure-label, #date-label, #description-label {
    color:orange;
}

#settingsModal .modal-footer { display:block; }

.settingslist { padding-top: 1em; padding-bottom: 1em; color:#495057;}



</style>
