<template>
  <div>

      <div class="multipletripdescription">

        <div v-show="$root.mobile && !$parent.tripExpanded" class="mobile-multipletrips-top" v-hammer:tap="onSwipe" v-hammer:swipe.up="onSwipe" v-hammer:swipe.down="onSwipe">
            <h3>Trip to {{ title }}</h3> 
            <button type="button" class="button greenbtn" @click="see_more_button_clicked">See More</button>
        </div>

        <div v-show="$root.mobile && $parent.tripExpanded || !$root.mobile" class="multiple-trips-list">
        	
        	<div v-for="trip in tripsToShow" :key="trip.key" class="multiple-trips-link link" @click="redirectTripDescription(trip.key)">

        		<div class="imagecanvas" :style="{ backgroundImage: backgroundImage }"></div>
        		<div class="textcontainer">
	        		<h3>Trip to {{ trip.value.to }}</h3>
	        		<p>From {{ trip.value.from }}</p>
	        		<p :class="{ 'blur': !$root.authenticated }">On {{ trip.value.thedate }}</p>
	        	</div>

        	</div>
        </div>
      </div>
      
  </div>
</template>

<script>

export default {
  name: 'MultipleTrips',
  props: ['markerKeys'],
  data() {
  	return {
  		tripsToShow: [],
  		tripPhotoURL: undefined,
      tripExpanded: false,
  	}
  },
  mounted() {
  	this.$parent.showSendMessageButton = false;

  	this.setup_content();
  },
  computed: {
  	backgroundImage: function() {
  		if (this.tripPhotoURL != undefined) {
  			return 'url(' + this.tripPhotoURL + ')';
  		} else {
  			return 'url(https://packitup.io/images/grey-background.png)';
  		}
  	},
    title: function() {
      const trip = this.tripsToShow[0];
      if (trip != undefined) {
        return trip.value.to;
      } else {
        return "Place"
      }
    }
  },
  methods: {
    see_more_button_clicked: function() {
      this.$emit('on-swipe', 'button-clicked');
    },
    onSwipe: function(event) {
      this.$emit('on-swipe', event);
    },
  	setup_content: function() {
	    for (var i = 0; i < this.markerKeys.length; i++) {
	            
        const tripKey = this.markerKeys[i];
        const trip = this.$store.getters.get_trip(tripKey);
        if (trip != undefined) {
          const markerValue = trip.value;

          this.tripsToShow.push({key: tripKey, value: markerValue});

          if (this.tripPhotoURL == undefined) { // We only have to do this for one trip
            if (markerValue["tripPic"] != undefined) {
                this.tripPhotoURL = markerValue["tripPic"];           
            } else if (markerValue.toID != undefined) {
                var placeId = markerValue.toID;
                this.get_trip_image_url(placeId, tripKey);
            }
          }
        } else {
          console.log(tripKey);
        }
	    }
  	},
  	redirectTripDescription: function(tripKey) {
  		this.$parent.singleTripKey = tripKey;
  		this.$parent.showMultipleTrips = false;
  		this.$parent.showSingleTrip = true;

  		this.$parent.showBackBtn = true;
  	},
  	get_trip_image_url: function(googlePlaceID, tripKey) {
  		// Get the image from the trip ID
      var request = {
        placeId: googlePlaceID,
        fields: ['photos']
      };
      service = new google.maps.places.PlacesService(map);
      service.getDetails(request, callback);
      
      const self = this;

      function callback(results, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
          if (results.photos != null) {
            var firstphoto = results.photos[0];
            self.tripPhotoURL = firstphoto.getUrl({maxHeight: 600});

            // And save to Firebase
            var ref = "routes/" + tripKey;
            var update = {'tripPic': photoURL};
            self.$_updateFirebaseData(ref, update);

            // Also put into our array if the trip is clicked 
            var tripInfo = self.$parent.$parent.tripsTodayOrLaterList[tripKey];
            tripInfo["tripPic"] = this.tripPhotoURL;
            self.$parent.$parent.tripsTodayOrLaterList[tripKey] = tripInfo;
          } 
        } else {
            console.log("Problem with Google Places " + status);
        }
      }
  	}
  }
}

</script>

<style scoped lang="scss">

.mobile-multipletrips-top {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;

  .button {
    margin: 0 1rem;
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 2rem);
  }
}

.multiple-trips-list {
    margin: 1rem;

    .multiple-trips-link {
    	display:flex;
    	align-items:center;
    	background-color: white;
    	border: 1px solid rgba(0,0,0,.125);
    	padding:1rem;

    	.imagecanvas {
		    height: 150px;
		    width: 150px;
		    background-color: grey;
		    float: left;
		    margin-right: 1em;
		    background-size: cover;
		    background-position: center;
	    }

	    .textcontainer {
	    	text-align:left;
	    }
    }
}

</style>
