<template>
  <div :class="{ 'singletripMobileComponent': $root.mobile }">

    <div v-if="$root.mobile" class="mobilepopup">
        <div id="mobilepopup-top" v-hammer:tap="onSwipe" v-hammer:swipe.up="onSwipe" v-hammer:swipe.down="onSwipe">
            <h3 id="mobiledestination">Trip to {{ chosenTrip.value.to }}</h3> 
            <h6 class="date">{{ chosenTrip.value.thedate }}</h6>   
        </div>

        <div v-show="$parent.tripExpanded" class="mobilepopup-bottom" id="mobilepopup-bottom">
          <div class="tripimage" ref="tripimage" :style="{ backgroundImage: 'url(' + tripimage + ')' }"></div>
          <table>
            <tr>
              <td><div :class="[{ 'blur': !$root.authenticated }]" class="tripprofileimg" ref="tripprofileimg" id="tripprofileimg" @click="show_profile">
                <ImageCanvas v-bind:convoUID="tripSenderUID" />
              </div></td>
              <td><p class="person"><span :key="profileUpdateKey" :class="['profileLink', { 'deactivatedLink': deactivatedTripUserLink }, { 'blur': !$root.authenticated }]" @click="show_profile">{{ tripSenderProfileName() }}</span></p></td>
            </tr>
            <tr>
              <td><p><span class="accenttext">From</span>   </p></td>
              <td><p><span id="departure">{{ chosenTrip.value.from }}</span></p></td>
            </tr>
            <tr>
              <td><p><span class="accenttext">To</span>   </p></td>
              <td><p><span id="arrival">{{ chosenTrip.value.to }}</span></p></td>
            </tr>
          </table>
          <hr>
          <p class="tripdescription">{{ chosenTrip.value.description }}</p>
        </div>

        <button v-show="showMobileMessageButton" type="button" class="button greenbtn" @click="trip_button_clicked"> {{ buttonTitle }}</button>
    </div>



    <div v-else class="desktop-popup">
      <div class="popup-top">
          <h2>Trip to {{ chosenTrip.value.to }}</h2> 
          <h6 class="date">{{ chosenTrip.value.thedate }}</h6>
          <div class="tripimage" ref="tripimage" :style="{ backgroundImage: 'url(' + tripimage + ')' }"></div>
      </div>
      <br>
      <div class="popup-bottom">
        <table>
            <tr>
                <td><div :class="[{ 'blur': !$root.authenticated }]" class="tripprofileimg" ref="tripprofileimg" id="tripprofileimg" @click="show_profile">
                  <ImageCanvas v-bind:convoUID="tripSenderUID" />
                </div></td>
                <td><p class="person"><span :key="profileUpdateKey" :class="['profileLink', { 'deactivatedLink': deactivatedTripUserLink }, { 'blur': !$root.authenticated }]" @click="show_profile">{{ tripSenderProfileName() }}</span></p></td>
            </tr>
            <tr>
                <td><p><span class="accenttext">From</span>   </p></td>
                <td><p><span id="departure">{{ chosenTrip.value.from }}</span></p></td>
            </tr>
            <tr>
                <td><p><span class="accenttext">To</span>   </p></td>
                <td><p><span id="arrival">{{ chosenTrip.value.to }}</span></p></td>
            </tr>
        </table>
        <hr>
        <p class="tripdescription">{{ chosenTrip.value.description }}</p>
      </div>
    </div>  

  </div>
</template>

<script>
import ImageCanvas from '@/components/Small/ImageCanvas.vue'
import firebasefunctions from '@/assets/mixins/firebasefunctions.js'

export default {
  name: 'SingleTrip',
  props: ['markerKeys', 'buttonTitle'],
  mixins: [firebasefunctions],
  components: {
    ImageCanvas
  },
  data() {
    return {
      profileName: "Anonymous",
      tripSenderProfile: {},
      profileUpdateKey: 10,
      tripimageURL: "",
    }
  },
  computed: {
    chosenTrip: function() {
      return this.$store.getters.get_trip(this.markerKeys);
    },
    tripimage: function() {
      return this.tripimageURL == "" ? "none" : this.tripimageURL;
    },
    tripSenderUID: function() {
      this.$parent.clickedTripUserID = this.chosenTrip.value.sender;
      console.log("tripsenderuid is " + this.chosenTrip.value.sender);
      return this.chosenTrip.value.sender;
    },
    deactivatedTripUserLink: function() {   
      const deactivated = this.tripSenderUID == this.$root.myUID || this.tripSenderProfileName() == "Anonymous";
      this.$parent.hideSendMessageButton = deactivated;
      this.$parent.deactivatedTripUserLink = deactivated;
      return deactivated;
    },
    showMobileMessageButton: function() {
      if (this.$root.mobile) {
        if (this.$parent.tripExpanded) {
          if (!this.deactivatedTripUserLink) {
            return true;
          } else {
            return false;
          }
        } else { // Not expanded
          return true;
        }
      } else { // Not on mobile
        return false;
      }
    }
  },
  mounted() {
    this.get_trip_photo();

    this.setupTripSenderProfile();

    this.$parent.showSendMessageButton = true;
  },
  methods: {
    onSwipe: function(event) {
      this.$emit('on-swipe', event);
    },
    setupTripSenderProfile: function() {
      const self = this;
      if (this.tripSenderUID != undefined) {
        this.$_downloadFirebaseData('/users/' + this.tripSenderUID).then(function(response) {
          self.tripSenderProfile = response.value;
          self.profileUpdateKey++;
        }).catch(function(error) {
          console.log("error getting profile " + error);
        });
      }
    },
    tripSenderProfileName: function() {
      console.log("setting up tripsenderprofile " + this.tripSenderProfile);
      if (this.tripSenderProfile != undefined) {
        const userfirstname = this.tripSenderProfile.firstname;
        const userdisplayname = this.tripSenderProfile.displayName;

        if (userfirstname != undefined || userdisplayname != undefined) {
          return userfirstname != undefined ? userfirstname : userdisplayname;

        } else {
          return "Anonymous";
        }
      } else {
        return "Anonymous";
      }
    },
    tripSenderProfilePic: function() {
      console.log("computing pic");
      if (this.tripSenderProfile != undefined) {
        const userPic = this.tripSenderProfile.profileImage;
        console.log("firebase pic is " + userPic);
        if (userPic != undefined && userPic != "") {
          var div = this.$refs.tripprofileimg;
          var picID = "profilecanvas";
          this.$_loadMyImage(userPic, div, picID);
        } else {
          console.log("pic is undefined or empty");
        }
      }
    },
    trip_button_clicked: function() {
      if (this.buttonTitle == "See More") {
        console.log("See More clicked");
        this.$emit('on-swipe', "button click");
      } else if (this.buttonTitle == "Send Message") {
        console.log("Send Message clicked");
        this.$emit('send-message-clicked');

      }
    },
    show_profile: function() {
      if (!this.deactivatedTripUserLink) {
        this.$emit('show-profile');
      }
    },
    get_trip_photo: function() {
      const self = this;
      const placeId = self.chosenTrip.value.toID;
      const element = self.$refs.tripimage;

      if (placeId != undefined && element != undefined) {
        const payload = { placeId: placeId, element: element, tripKey: self.chosenTrip.key };
        console.log(self);
        self.$emit('set-trip-image', payload);
      }

      // REMOVED - we can't save the images in Firebase because the tokens expire 
      /*if (this.chosenTrip.value.tripPic != undefined) {
          this.tripimageURL = this.chosenTrip.value.tripPic;
      } else if (chosenTrip.value.toID != undefined) {
          
          // Get the image from the trip ID
          var placeId = this.chosenTrip.value.toID;
          var element = this.$refs.tripimage;
          this.$emit('set-trip-image', {placeId: placeId, element: element, tripKey: chosenTrip.key});
      }*/
    }
  }
}

</script>

<style scoped lang="scss">


.singletripMobileComponent {
  height:100%;

  .mobilepopup {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    .button {
      margin: 0 1rem;
      position: absolute;
      bottom: 1rem;
      width: calc(100% - 2rem);
    }
  }
}

.tripimage {
  background-color: gray;
  height: 10em;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

.tripprofileimg {
  height:3em;
  width:3em;
  border-radius:50%;
  background-image: url('https://packitup.io/images/anonymous-profile-pic.jpg');
  background-size:cover;
  background-position: center;

  &:hover {
    cursor:pointer;
  }
}

table {
  text-align:left;
  padding:0 2rem;

  td {
    padding:0.5em;
  }
}

.popup-top {

  h2 {
    font-size:2em;
  }

  .date {
    font-size:1em;
    color:gray;
    font-weight:300;
    margin:0;
  }
}

.popup-bottom, .mobilepopup-bottom {
  text-align:left;
  padding-bottom:4rem;

  hr {
    margin: 1rem 2rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1)
  }

  .tripdescription {
    margin: 0 2rem;
  }

  .profileLink:hover {
    cursor:pointer;
  }

  .deactivatedLink:hover {
    cursor: unset;
  }
}

</style>
