<template>
  <div :class="[{ 'mobileTripPopupComponent': $root.mobile }, { 'expand': $root.mobile },{ 'tripPopupComponent' : !$root.mobile }]" ref="trippopup">
    <div v-if="$root.mobile" class="drawer-pull" v-on:click="onSwipe" v-hammer:swipe.up="onSwipe" v-hammer:swipe.down="onSwipe">_</div>
    <div class="header" v-show="showHeader" v-hammer:tap="onSwipe" v-hammer:swipe.up="onSwipe" v-hammer:swipe.down="onSwipe">
      <!--<a @click="go_back" v-hammer:tap="go_back" :class="['link', { 'hidden': !showBackBtn }]"><i class="fas fa-chevron-left"></i> Back</a>-->
      <button v-on:click.stop="go_back" v-hammer:tap="go_back" :class="['link', { 'hidden': !showBackBtn }]"><i class="fas fa-chevron-left"></i> Back</button>
      <button type="button" class="close link" aria-label="Close" @click="close_popup" v-hammer:tap="close_popup">
        <i class="material-icons">close</i>
      </button>
    </div>
    <div class="body">

      <div class="profile-component-container" v-if="showProfile">
        <ProfileComponent 
          v-bind:uid="clickedTripUserID"
          v-bind:showHeader="false"
        />
      </div>

      <SingleTrip 
        v-if="showSingleTrip" 
        v-bind:buttonTitle="buttonTitle"
        v-bind:markerKeys="singleTripKey"
        @on-swipe="onSwipe"
        @send-message-clicked="sendMessageClicked"
        @show-profile="show_profile"
        @set-trip-image="set_trip_image"
      />

      <MultipleTrips 
        v-if="showMultipleTrips" 
        v-bind:markerKeys="multipleTripsKeys"
        @on-swipe="onSwipe"
        @set-trip-image="set_trip_image"
        :key="multipleTripsUpdateKey"
      />

      <button v-show="!deactivatedTripUserLink" @click="sendMessageClicked" :class="[{ 'hide': hideSendMessageButton || $root.mobile }, 'openchatbtn', 'greenbtn']">Send Message</button>

    </div>
  </div>
</template>

<script>
import SingleTrip from '@/components/TripPopup/SingleTrip.vue'
import MultipleTrips from '@/components/TripPopup/MultipleTrips.vue'

const ProfileComponent = () => import('@/components/ProfileComponent.vue')

import firebasefunctions from '@/assets/mixins/firebasefunctions.js'

export default {
  name: 'TripPopup',
  props: ['markerKeys'],
  mixins: [firebasefunctions],
  components: {
    ProfileComponent,
    SingleTrip,
    MultipleTrips
  },
  data() {
    return {
      showSingleTrip: false,
      showMultipleTrips: false,
      showProfile: false, 
      hideSendMessageButton: false,
      showBackBtn: false,
      showHeader: true,
      clickedTripUserID: String,
      singleTripKey: String,
      multipleTripsKeys: [],
      multipleTripsUpdateKey: 0,

      tripExpanded: false,
      buttonTitle: "Send Message",

      deactivatedTripUserLink: false,
    }
  },
  mounted() {
    if (this.markerKeys.length > 1) {
      this.showMultipleTrips = true;
      this.multipleTripsKeys = this.markerKeys;
      this.multipleTripsUpdateKey++;
    } else {
      this.showSingleTrip = true;
      this.singleTripKey = this.markerKeys[0];
    }

    if (this.$root.mobile) { 
      this.buttonTitle = "See More";
      this.showHeader = false; 
    }

  },
  methods: {
    onSwipe: function(event) {
      console.log("swiping");
      //event.srcEvent.stopPropagation();
      if (event != undefined && event.srcEvent != undefined) {
        event.srcEvent.stopImmediatePropagation();
      }

      if (this.$root.mobile) {
        this.showProfile = false;
        if (this.showSingleTrip && this.markerKeys.length > 1) { 
          this.showSingleTrip = false; 
          this.showMultipleTrips = true;
        }

        if (!this.tripExpanded) {
          this.animateTripPopup("up");
          this.buttonTitle = "Send Message";
          this.showHeader = true;      
        } else {
          this.animateTripPopup("down");
          this.buttonTitle = "See More";
          this.showHeader = false; 
        }
      }
    },
    animateTripPopup: function(direction) { // Handles swipe animations in a single function to avoid memory leaks
      var element = this.$refs.trippopup;
      element.style.height = (direction == "up") ? '85%' : '20%';
      direction == "up" ? this.tripExpanded = true : this.tripExpanded = false;
      direction == "up" ? this.$parent.tripExpanded = true : this.$parent.tripExpanded = false;

      console.log("tripexpanded is now " + this.tripExpanded);
    },
    close_popup: function() {
      this.$parent.showTripPopup = false;
      this.showSingleTrip = false;
      this.showMultipleTrips = false;
      this.showTripPopup = false;

      this.$parent.tripOpen = false;
      this.$parent.tripExpanded = false;
      this.tripExpanded = false;
    },
    go_back: function(event) {
      if (event != undefined && event.srcEvent != undefined) {
        event.srcEvent.stopImmediatePropagation();
        console.log("GOING BACK");
        if (this.showProfile) {
          this.showProfile = false;
          if (this.markerKeys.length == 1) { this.showBackBtn = false; }
        } else if (this.showSingleTrip && this.markerKeys.length > 1) {
          // Go back to multiple trips
          this.showSingleTrip = false;
          this.showMultipleTrips = true;
          this.showBackBtn = false;
        }
      }
    },
    show_profile: function() {
      if (this.$root.authenticated) { 
        this.showProfile = true; 
        this.showBackBtn = true;
      } else {
        this.$parent.showNotSignedInModal = true;
      }
    },
    sendMessageClicked: function() {
      console.log("send message clicked in trippopup " + this.clickedTripUserID);
      if (this.clickedTripUserID != undefined && this.clickedTripUserID != "") {
        this.$root.activeNav = 'Messages';
        this.$router.push({name: 'Messages', params: { id: this.clickedTripUserID}});
      }
    },
    set_trip_image: function(optionsarray) {
      this.$emit('set-trip-image', optionsarray);
    }
  }
}

</script>

<style scoped lang="scss">

.header {
  position: absolute;
  z-index:1;
  background-color: #f9f9fb;
  top: 0;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:1rem 0;
  align-items: center; 

  a, button {
    padding: 0 1rem;
  }
}

.mobileTripPopupComponent {
  position: absolute;
  /*height: 20%;
  overflow:hidden;*/
  width: 100%;
  bottom: 0;
  right: 0;
  top: inherit;
  z-index: 20;
  overflow:auto;
  background-color: #f9f9fb;
  box-shadow: 0 -3px 3px #5f5c5c21;
  -webkit-box-shadow: 0 -3px 3px #5f5c5c21;
  -moz-box-shadow: 0 -3px 3px #5f5c5c21;
  border-radius: 12px 12px 0 0;

  .header {
    background: none;
  }

  .body {
    height: calc(100% - 2rem);
  }
}

.profile-component-container {
  background-color: #f9f9fb;
  height:100%;
  width:100%;
  overflow: auto;
  position: absolute;
}

.tripPopupComponent {
  position: absolute;
  top:6rem;
  left:2rem;
  height: calc(100% - 10rem);
  width:40%;
  border-radius:10px;
  overflow:hidden;
  background-color: #f9f9fb;

  .body {
    overflow-y:scroll;
    overflow-x: hidden;
    padding-top:4rem;
    height: calc(100% - 4rem);

    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar { 
      display: none;  /* Safari and Chrome */
    }

    .profilecomponent {
      height: calc(100% - 4rem);
      width: 100%;
      background-color: #f9f9fb;
    }
  }

  .openchatbtn {
    position:absolute;
    bottom:10px;
    left:0;
    width:94%;
    margin-left:3%;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
}

</style>
