<template>
  <div class="mapComponent">

    <div id="map" class="map"></div>

    <button 
      v-show="$root.authenticated && $root.mobile"
      :key="$root.shownewtripbtn"
      @click="open_new_trip" 
      :class="['button', 'greenbtn', 'mobile-newtripbtn', { 'hidden': $parent.tripExpanded }, { 'elavated': $parent.tripOpen }]"
      id="mobile-newtripbtn"
    >
      + New Trip
    </button>
  </div>
</template>

<script>
import general from "@/assets/mixins/general.js"
import firebasefunctions from "@/assets/mixins/firebasefunctions.js"

export default {
  name: 'Map',
  props: ['loadMap'],
  mixins: [general, firebasefunctions],
  data() {
  	return {
  		map: null,
  		markers: [],
      tripIDsOnMap: [],
      latlngList: {}, // Used to keep track of clusters of the same coordinates
      
      tripsArray: [],
      loadedTripIDS: [],
      activeTripsArray: []
    }
  },
  mounted() {
  	//this.$nextTick(function() {
      console.log("map mounted - loadmap is: " + this.loadMap);
  		if (this.loadMap) { 
        this.initMap(); 
      }
  	//});
  },
  methods: {
    open_new_trip: function() {
      this.$root.showNewTripModal = true;
      this.$root.showNewTripModalKey++;
    },
  	initMap: function() {
      //console.log("initMap and trips are: " + this.$store.getters.get_all_active_trips.length);

  		// Checking if we have a saved location
        var mapLocation = this.$_get_from_storage('latestLocation');
        if (!mapLocation || mapLocation == undefined || mapLocation == null) {
        	mapLocation = {lat: -34.397, lng: 150.644}
        }

        // Create a map object and specify the DOM element for display. 
        this.map = new google.maps.Map(document.getElementById('map'), {
            center: mapLocation,
            zoom: 3,
            mapTypeControl: false,
            zoomControl: true,
            streetViewControl: false,
            fullscreenControl: false,
            gestureHandling: 'greedy' //enables 1 finger map movement
        });

	    this.setupMapOptions();
	  },
	  setupMapOptions: function() {
      console.log("setupMapOptions");

      if (this.map != null) {

        if (this.$parent.mobilescreen) {
            this.map.setOptions({ zoomControl: false, minZoom: 3, maxZoom: 18 });
        } else {
            this.map.setOptions({ zoomControl: true, minZoom: 3, maxZoom: 15 });
        }

        this.setupMarkers();
        //this.getTrips();

        // Setting up the autocomplete in the input field
        const inputElement = document.getElementById("destinationinput");
        this.setupAutocomplete(inputElement, this.destinationSearchFound);

        // Getting user location and updating the map 
        this.tryAPIGeolocation();
      }
	  },
  	setupAutocomplete: function(element, callback) {
      console.log("setupAutocomplete");
  		var autocomplete = new google.maps.places.Autocomplete(element, {});
      autocomplete.setFields(['address_components', 'geometry', 'icon', 'place_id', 'name']);
      autocomplete.addListener('place_changed', function() {
      	callback(autocomplete.getPlace());
      });
  	},
  	destinationSearchFound: function(place) {
  		if (place != undefined) {
  			// Move the map
            	this.moveMap(place.geometry.location);
          } else {
            	// User entered the name of a Place that was not suggested and pressed the Enter key, or the Place Details request failed.
              window.alert("Sorry! We couldn't find: '" + place.name + "'");
              return;
          }
  	},
  	moveMap: function(position) { // We have the user's location
      console.log("moveMap");
  	    this.map.setCenter(position);
  	    this.map.setZoom(6);
  	},
  	tryAPIGeolocation: function() { // Trying to get user location via API
      console.log("tryAPIGeolocation");
  		const self = this;

  		if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          self.moveMap(pos);
          self.$_save_to_storage('latestLocation', pos);

        }, function() {
        	// An error happened?
          console.log("an error happened while getting the location");
        });
      } else {
        // Browser doesn't support Geolocation
        console.log("browser doesn't support or we didn't give permission");
      } 
  	},
    addMarker: function(item) {

      const key = item.key;
      const value = item.value;

      const self = this;

      if (value != undefined) {
        //if (this.tripIDsOnMap != undefined && this.tripIDsOnMap.indexOf(key) == -1) { // To make sure we don't add trips twice
          this.tripIDsOnMap.push(key);

          this.checkForCluster(item);

          const latlngkey = value.toLat + value.toLng;
          const destinationTripList = self.latlngList[latlngkey];

          // Setup marker info
          const markerName = value.to; // The name of the marker is the destination
          const markerLatLng = {lat: value.toLat, lng: value.toLng};
          var markerIcon;

          if (destinationTripList != undefined) {
            if (destinationTripList.length > 1) {
              
              // Create cluster
              markerIcon = {
                url: 'https://packitup.io/images/markersWithNumbers/' + destinationTripList.length + '.png',
                scaledSize: new google.maps.Size(50, 50)
              };

              delete self.latlngList[latlngkey];
            
            } else if (destinationTripList.length > 0) {
              
              // Create single marker
              markerIcon = {
                url: 'https://packitup.io/images/green-marker-2.png',
                scaledSize: new google.maps.Size(39, 57), // scaled size
              };
            
            }
            const markerObject = {
              position: markerLatLng,
              map: self.map,
              title: markerName,
              id: destinationTripList,
              icon: markerIcon
            }
            this.add_marker_to_map(markerObject);
          }
        //}
      }
    },
    checkForCluster: function(item) { // Adding up trips that need to be clusters
      var self = this;

      const key = item.key;
      const value = item.value;

      if (value != undefined) {
        var latValue = value.toLat;
        var lngValue = value.toLng;
        var latlngkeyvalue = latValue + lngValue;
                                
        if (latlngkeyvalue in self.latlngList) {
          self.latlngList[latlngkeyvalue].push(key);
        } else {
          // This trip is not yet in our multiple trips array. Add it 
          self.latlngList[latlngkeyvalue] = [key];
        }
      }
    },
    setupMarkers: function() {
      //const startPosition = this.$store.getters.get_number_of_trips;
      //console.log("childrenLoaded " + startPosition);

      const self = this;
      const dateToday = new Date();

      this.$_getTripData().then(function(response) {

        response.forEach(function(trip) {

          const key = trip.key;
          const value = trip.val();

          const tripToAdd = {key: key, value: value}
          const activeTrip = self.$_trip_is_today_or_later({dateToday: dateToday, trip: tripToAdd});

          if (activeTrip) { self.addMarker(tripToAdd); }

          if (!self.$store.getters.get_trip_loaded(key)) {
            self.tripsArray.push(tripToAdd);
            self.loadedTripIDS.push(trip.key);
            if (activeTrip) { self.activeTripsArray.push(tripToAdd); }
          }

        });

        //console.log("saving trips to storage " + self.tripsArray);

        // Saving to storage after the loop, to speed up performance 
        self.$store.dispatch('add_trip_to_array', self.tripsArray);
        self.$store.dispatch('add_loaded_trip_to_array', self.loadedTripIDS);
        self.$store.dispatch('add_trip_to_active_array', self.activeTripsArray);

        self.$root.showLoader = false;
      
      }).catch(function(error) {
        self.$root.showLoader = false;
        console.log("error getting trips " + error);
      });
    },
    add_marker_to_map: function(markerObject) {
      //console.log("add_marker_to_map");
      var marker = new google.maps.Marker(markerObject);
      this.markers.push(marker);

      // Adding a listener to display the popup 
      var self = this;
      marker.addListener('click', function() {
          self.$emit('open-trip', { markerid: marker.id, map: self.map });
      }, {passive: true});
    }
  }
}
</script>

<style scoped lang="scss">

.mapComponent {
	height:100%;
	width:100%;

	.map {
		max-height:100vh;
		max-width:100vw;

		background-image: url("https://maps.googleapis.com/maps/api/staticmap?center=33.29939,-84.55608&zoom=1&size=2000x800&scale=2&format=jpg&maptype=roadmap&key=AIzaSyAGqpfoPc_jhAJR2UgofX7D42gN1242LJw");
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
	    background-size:cover;
	}
}

.mobile-newtripbtn {
  position:fixed; //prevents the button to move around even if the map container becomes moveable
  bottom:1rem;
  left:1rem;
  width: calc(100% - 2rem);
}

</style>