<template>
  <div class="nav">
    <div class="logo">
      <img class="logoimage" src="img/Logo_community_horizontal.png" alt="logo" onclick="$router.push('/')">
      <input v-show="$root.showDestinationSearchField" type="text" placeholder="Search place..." aria-label="Destination search" id="destinationinput">
    </div>
    <div class="links">
      
      <a 
        v-show="$root.authenticated && $root.activeNav == 'Home' && !$root.mobile"
        :key="$root.activeNav"
        @click="open_new_trip" 
        class="accenttext"
      >
        + New Trip
      </a>
      
      <router-link 
        exact
        v-if="$root.authenticated" 
        @click.native="set_active('Home')"
        :class="{ 'active': $root.activeNav == 'Home' }"
        to="/">
        <!--:to="{ name: 'user', params: { userId: 123 }}"-->
        Map
      </router-link>

      <router-link 
        v-if="$root.authenticated" 
        @click.native="set_active('Messages')"
        :class="{ 'active': $root.activeNav == 'Messages' }"
        to="/messages">
        Messages<span class="message-notification-bubble" v-show="showNotificationBubble"></span>
      </router-link>

      <router-link 
        v-if="$root.authenticated" 
        @click.native="set_active('Profile')" 
        :class="{ 'active': $root.activeNav == 'Profile' }"
        to="/profile">
        Profile
      </router-link>

      <a v-if="!$root.authenticated" :key="$root.authenticated" @click="open_login">Login</a>

    </div>

  </div>
</template>

<script>

export default {
  name: 'Nav',
  data() {
    return {
    }
  },
  mounted() {
  },
  computed: {
    showNotificationBubble: function() {
      return this.$store.getters.get_unread_count;
    }
  },
  methods: {
    set_active: function(itemname) {
      this.$root.activeNav = itemname;
    },
    open_login: function() {
      this.$root.showLoginModal = true;
      this.$root.showLoginModalKey++;
    },
    open_new_trip: function() {
      console.log("showing new trip");
      this.$root.showNewTripModal = true;
      this.$root.showNewTripModalKey++;
    },
  }
}

</script>

<style scoped lang="scss">

.nav {
  width:100%;
  height:4rem;
  position:fixed;
  top:0;
  background-color:white;
  border-bottom: 1px solid #ededed;
  -webkit-box-shadow: 0px 3px 3px #5f5c5c21;
  -moz-box-shadow: 0px 3px 3px #5f5c5c21;
  box-shadow-bottom: 5px #5f5c5c21;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display:flex;
    align-items:center;
    padding-left:1rem;
    .logoimage {
      max-height:3.5rem;
      margin: 0.25rem 1rem;
    }
  }

  .links {
    padding-right:2rem;
    a {
      padding:0.7rem;
      color: gray;
      text-decoration:none;
      &:hover {
        color:#000;
        text-decoration:none;
        cursor:pointer;
      }
    }
  }
}

</style>
