<template>

  <div class="profilecomponent">

    <ModalHeader 
      v-if="showHeader"
      v-bind:content="headercontent"
      @left-clicked="header_left_clicked"
      @right-clicked="header_right_clicked"
    />

    <div>
        <div class="profilepic" id="profilepic"><ImageCanvas v-bind:convoUID="uid" /></div>
    </div>
    
    <div class="profiletitle">
      <h1>{{ profileTitle }} <country-flag :country="flag" size="normal" /> <span v-if="age > 0">{{ age }}</span></h1>
    </div>
    
    <br />

    <div class="profiletabs">
      <ul >
        <li>
          <a :class="{ 'active': showDescription}" @click="descriptionActive = true">
            Description
          </a>
        </li>
        <li>
          <a :class="{ 'active': showTrips}" @click="descriptionActive = false">
            Trips
          </a>
        </li>
      </ul>
    </div>

    <br />
    
    <div class="profiletabcontent">
      <div v-if="showDescription">
        <p v-if='description == ""'>
          <i>No profile description.</i>
        </p>
        <p v-else>
          {{ description }}
        </p>
      </div>
      <div v-if="showTrips">
        <p v-if="tripsList.length == 0">
          <i>No trips.</i>
        </p>
        <div v-else>
          <div v-for="trip in tripsList">
            <p>
              Trip to {{ trip.value.to }}
            </p>
            <p>
             From {{ trip.value.from }} on {{ trip.value.thedate }}
            </p>
            <br />
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import ModalHeader from '@/components/Small/ModalHeader.vue'
import ImageCanvas from '@/components/Small/ImageCanvas.vue'

import CountryFlag from 'vue-country-flag'
import countries from '@/assets/countries.js'

import firebasefunctions from "@/assets/mixins/firebasefunctions.js"
import general from "@/assets/mixins/general.js"

export default {
  name: 'ProfileComponent',
  props: ['uid', 'showHeader'],
  mixins: [countries, firebasefunctions, general],
  components: {
    ModalHeader,
    CountryFlag,
    ImageCanvas
  },
  data() {
  	return {
      profileValue: {},
      profileUpdateKey: 10,
      descriptionActive: true,

      headercontent: {
        leftbutton: { show: true },
        title: { name: "", show: false },
        rightbutton: { show: false }
      }
  	}
  },
  computed: {
    /*profileValue: function() {
        const profileObj = this.$store.getters.find_user(this.uid);
        if (profileObj != undefined && profileObj.value != undefined) {
            return profileObj.value;
        } else {
            console.log("PROFILE NOT FOUND - redirecting");
            //this.$root.activeNav = 'Home';
            //this.$router.push('/');
        }
    },*/
    firstname: function() {
        return this.$_get_firebase_item(this.profileValue, 'firstname');
    },
    lastname: function() {
        return this.$_get_firebase_item(this.profileValue, 'lastname');
    },
    displayName: function() {
        return this.$_get_firebase_item(this.profileValue, 'displayName');
    },
    description: function() {
        return this.$_get_firebase_item(this.profileValue, 'description');
    },
    picURL: function() {
        console.log("computing picurl");
        //this.updateProfileImage();
        //loadMyImage(url, div, picID);  
        return this.$_get_firebase_item(this.profileValue, 'profileImage');
    },
    birthday: function() {
        return this.$_get_firebase_item(this.profileValue, 'birthday');
    },
    age: function() {
        return this.birthday != "" ? this.$_calculateAge(this.birthday) : "";
    },
    nationality: function() {
        return this.$_get_firebase_item(this.profileValue, 'nationality');
    },
    flag: function() {
        if (this.nationality != "" && this.countrylist != undefined) {
            const nationalityObj = this.countrylist.find(country => country.name == this.nationality);
            if(nationalityObj != undefined) {
                return nationalityObj.code;
                //return "<country-flag country='" + nationalityObj.code + "' size='normal'></country-flag>";
            } else {
                return "";
            }
        } else {
            return "";
        }
    },

    profileTitle: function() {
        const name = this.displayName != "" ? this.displayName : this.firstname != "" ? this.firstname + ' ' + this.lastname : "Anonymous";

        return name;
        //return name + ' ' + this.flag + ' ' + this.age;
    },
    showDescription: function() {
        return this.descriptionActive;
    },
    showTrips: function() {
        return !this.descriptionActive;
    },
    tripsList: function() {
        return this.$store.getters.get_trips_for_UID(this.uid);
    }
  },
  mounted() {
    // We're gonna assume that all the profiles have been fetched here
    //this.profileValue = getProfileInfo(this.uid);
    //this.populateProfile();

    this.setupProfile();

    //this.$_listenForProfileChanges(this.$root.myUID);
  },
  methods: {
    setupProfile: function() {
      const self = this;
      if (this.uid != undefined) {
        this.$_downloadFirebaseData('/users/' + this.uid).then(function(response) {
          self.profileValue = response.value;
          self.profileUpdateKey++;
        }).catch(function(error) {
          console.log("error getting profile " + error);
        });
      }
    },
    header_left_clicked: function() {
      console.log("go back");
      this.$parent.showProfile = false;
    },
    header_right_clicked: function() {
      console.log("Do nothing");
    }
  }
}
</script>

<style scoped lang="scss">

.profilecomponent {
  overflow: auto;
  position: absolute;
  width:100%;

  .profiletitle {
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 40px;
            font-weight:500;
            margin: 0 8px;
        }
    }
}

.profiletabs {
    a.active {
        background-color: #00b685 !important;
        color: white !important;
    }

    a {
        color: #00b685 !important;
        
        &:hover {
            text:black;
            cursor:pointer;
        }
    }

    ul {
        margin: 0 auto;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            a {
                padding: .5rem 1rem;
                border-radius: .25rem;
            }
        }
    }
}

.profiletabcontent { /* This creates a scrollbar in the profile tabs content */
    height:auto;
    overflow:auto;
    text-align:left;
    margin-top:1rem;

    .descriptioncontent{
        margin: 0 20%;
    }
}

</style>
