<template>
  <div class="modal">
	  <div class="modal-backdrop"></div>
		<div class="modal-content">
			
      <div class="nudge-modal-background" :style="{ backgroundImage: BgImage }">
        <div class="nudge-content">

          <button :class="['close', 'link']" @click="$emit('dismiss')">
            <i class="material-icons">close</i>
          </button>

          <div class="modal-text">
            <h2>Push Notifications</h2>
            <h4>Want to see when someone texts you?</h4>
            <p>Allow push notifications so we can let you know when someone wants to get in touch!</p>
          </div>

          <div class="nudge-footer" @click="PushClicked">
            <p>Allow Push Notifications</p>
          </div>

        </div>
      </div>

		</div>
	</div>
</template>

<script>
import general from '@/assets/mixins/general.js'
import firebasefunctions from '@/assets/mixins/firebasefunctions.js'

export default {
  name: 'PushNudge',
  mixins: [general, firebasefunctions],
  data() {
    return {
    }
  },
  computed: {
    BgImage: function() {
      return "url('" + process.env.BASE_URL + "img/Push_Screen_Background_Mobile.jpg')";
    }
  },
  methods: {
    PushClicked: function() {
      this.$emit('dismiss');
      this.askForPermissionToReceiveNotifications();
    }
  }
}


</script>

<style scoped lang="scss">
@import '@/assets/css/_mixins';
$green-color: #00AE75;

.modal {
  z-index:9;

  .modal-backdrop {
    z-index: unset;
  }

  .modal-content {
    height:100%;
    width:100%;
    max-height:100vh;
    width:100vw;
    min-width:100vw;
    max-width:100vw;
    position:absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .nudge-modal-background {
      text-align:center;
      width:100%;
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;

      /*background-image: url('/img/Push_Screen_Background_Mobile.jpg');*/
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;

      .nudge-content {
        background-color:white;
        margin: 0 2rem;
        border-radius: 12px;

        .close {
          color: $bordercolor;
          width: 100%;
          text-align: right;
          margin: .5rem .5rem 0 0;
        }

        .modal-text {
          padding: 0 3rem;
        }

        .nudge-footer {
          background-color: $green;
          padding: 1rem;
          margin-top: 2rem;
          color: $green-color;
          border-radius: 0 0 12px 12px;

          p {
            font-weight:bold;
            color:white;
          }
        }
      }
    }
  }
}

</style>