<template>
  <div class="modal">
	  <div class="modal-backdrop"></div>
		<div class="modal-content">
			
      <div class="nudge-modal-background" :style="{ backgroundImage: BgImage }">
        <div class="nudge-content">

          <button :class="['close', 'link']" @click="$emit('dismiss')">
            <i class="material-icons">close</i>
          </button>

          <div class="logo-line">
            <div class="grey-logo-square"></div>
            <div class="grey-logo-square"></div>
            <div class="logo-square"></div>
            <div class="grey-logo-square"></div>
            <div class="grey-logo-square"></div>
          </div>

          <h3>Download PackitUp</h3>
          <p>Download it to your phone <br /> for faster access in the future!</p>

          <div class="nudge-footer" v-if="ios">
            <p>Tap <img src="/img/share_ios.png" /> and then <img class="add" src="/img/add_ios.png" /> Add to Home Screen</p>
          </div>

          <div class="nudge-footer android-footer" v-if="android" @click="this.$emit('install')">
            <p>Save PackitUp to Home Screen</p>
          </div>

          <div class="nudge-footer" v-else>
            <p>Tap <img class="add" src="/img/share_other.png" /> and then click Add to Home Screen</p>
          </div>

        </div>
      </div>

		</div>
	</div>
</template>

<script>
import general from '@/assets/mixins/general.js'

export default {
  name: 'PWANudge',
  mixins: [general],
  props: ['installPrompt'],
  data() {
    return {
      publicPath: process.env.BASE_URL,
      ios: false,
      android: false,
    }
  },
  computed: {
    BgImage: function() {
      return "url('" + process.env.BASE_URL + "img/intro-background.jpg')";
    }
  },
  mounted() {
    // Check if this browser supports PWA to show the appropriate nudge
    console.log("pwa support: ")
    console.log(this.$_pwa_supported());

    if (!this.$_pwa_supported() && this.$_isSafari()) {
      this.ios = true;
    }
  },
  methods: {
  }
}


</script>

<style scoped lang="scss">
@import '@/assets/css/_mixins';
$green-color: #00AE75;

.modal {
  z-index:9;

  .modal-backdrop {
    z-index: unset;
  }

  .modal-content {
    height:100%;
    width:100%;
    max-height:100vh;
    width:100vw;
    min-width:100vw;
    max-width:100vw;
    position:absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .nudge-modal-background {
      text-align:center;
      width:100%;
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;

      /*background-image: url('/img/intro-background.jpg');*/
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;

      .nudge-content {
        background-color:white;
        margin: 0 1rem;
        border-radius: 12px;

        .close {
          color: $bordercolor;
          width: 100%;
          text-align: right;
          margin: .5rem .5rem 0 0;
        }

        .logo-line {
          display:flex;
          justify-content: center;
          margin: 1.5rem 0;

          .grey-logo-square, .logo-square {
            height: 3.5rem;
            width: 3.5rem;
            background-color: $lightergrey;
            border-radius: 8px;
            margin: 0 5px;
          }

          .logo-square {
            background-image: url("/img/LogoFullColorWhite.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }

        .nudge-footer {
          background-color: $lightergrey;
          padding: 1rem;
          margin-top: 2rem;
          color: $green-color;
          border-radius: 0 0 12px 12px;

          img {
            max-height:1em;
            margin: 0 2px;
          }

          .add {
            margin-bottom: -2px;
            max-height: 1.2em;
          }

        }

        .android-footer {
          background-color: $green;

          p {
            font-weight:bold;
            color:white;
          }
        }
      }
    }
  }
}

</style>