<template>
  <div id="app">

    <transition name="fade">
      <Loader v-if="$root.showLoader" />
    </transition>

    <keep-alive>
      <router-view/>
    </keep-alive>

    <Nav />

  </div>
</template>

<script>
import Nav from '@/components/Nav.vue'
import Loader from '@/components/Small/Loader.vue';

export default {
  name: 'App',
  components: {
    Nav,
    Loader
  }
}

</script>

<style lang="scss">
  .nav { z-index: 2}
</style>
