body { margin:0; font-family: 'Times New Roman', sans-serif; }

#offline-background { height:100vh; width:100vw; background-color:#00AE75; text-align:center; }
#offline-background h1 { color:white; margin:0; padding-top:20%; }
#offline-background p { color:white; margin:1em; font-weight:bold; }